<template name="PartialProfileCard">
    <div class="pu-profilecard">
        <header>
            <figure class="pu-avatar pu-avatar-large" style="background-image: url({{partupImageById data.profile.image}});"></figure>
            <h4>{{data.profile.name}}</h4>
            <p>{{data.profile.location.city}}</p>
        </header>
        <article>
            <p>{{data.profile.description}}</p>
        </article>
        <footer>
            <ul class="pu-stats">
                <li>
                    <span>{{data.partups.length}}</span>
                    <span>{{_ 'profilecard-partups'}}</span>
                </li>
                <li>
                    <span>{{data.supporterOf.length}}</span>
                    <span>{{_ 'profilecard-supporters'}}</span>
                </li>
            </ul>
        </footer>
    </div>
</template>
