.gradle
docker-compose.yml~

# NPM
app/packages/*/.npm

# Editors
.idea/
.vscode/

# Generated Docs
docs/jsdocs

# Wercker builds
_builds/
_projects/
_steps/

# Generated packages
app/packages/tests-proxy/
app/.demeteorized

# Generated build files
app/public/VERSION
app-build

# Backups
backups
translation-exports

# Saved pictures
app/uploads
app/public/uploads

# Temp files
*.swp
*.orig

node_modules
npm-debug.log

# file that may contain credentials
config/development/env
