<template name="PagesStartPartupIntro">

    <nav class="pu-header pu-header-modal">
        <a class="pu-button pu-button-header pu-button-header-modal" data-closepage href="#">
            <i class="fa fa-times"></i>
            @!@Pagina sluiten
        </a>
    </nav>

    <article class="pu-layout">
        <section class="pu-sub-pagecontainer pu-sub-pagecontainer-modal">
            <!---->
            <!-- Button: menu -->
            <a class="pu-button" href="{{pathFor 'start'}}">
                @!@Aan de slag
            </a>
        </section>
    </article>

</template>