<template name="PagesStartPartup">

    <nav class="pu-header pu-header-modal pu-header-progress">
        <a href="#" class="pu-button pu-button-iconright pu-button-text pu-button-text-gray">{{_ 'start-partup-skip' }} <i class="fa fa-caret-right"></i></a>
        <div class="pu-progresspager">
            <ol>
                <li class="{{#if isActiveRoute regex='start$'}}pu-state-active{{/if}}">
                    <a href="{{pathFor 'start'}}">{{_ 'start-partup-start' }}</a>
                </li>
                <li class="{{#if isActiveRoute regex='activities$'}}pu-state-active{{/if}}">
                    <a href="{{pathFor 'start-activities'}}">{{_ 'start-partup-activities' }}</a>
                </li>
                <li class="{{#if isActiveRoute regex='contribute$'}}pu-state-active{{/if}}">
                    <a href="{{pathFor 'start-contribute'}}">{{_ 'start-partup-contribute' }}</a>
                </li>
                <li class="{{#if isActiveRoute regex='promote$'}}pu-state-active{{/if}}">
                    <a href="{{pathFor 'start-promote'}}">{{_ 'start-partup-promote' }}</a>
                </li>
            </ol>
        </div>
    </nav>

    <article class="pu-page pu-page-modal">
        {{> yield region='start-partup-page' }}
    </article>

</template>