.pu-boardview-card
    white-space: normal
    cursor: move

    &--is-ghost
        border: 2px dashed #ccc
        border-radius: 4px
        .pu-activity
            visibility: hidden

    &--is-chosen
        // border: 2px dashed #ccc
        // border-radius: 4px

    &--is-dragging

        .pu-activity
            // opacity: 0.5
            background-color: #eee
