.pu-boardview
    font-size: 0
    white-space: nowrap
    height: calc(100% - 60px)

    .pu-boardview-lane
        display: inline-block
        vertical-align: top
        font-size: 16px
        margin-right: 20px
        height: 100%

    &__add-lane-button
        width: 280px
        min-height: 200px
        border: 2px dashed #ccc
        background-color: #f9f9f9
        border-radius: 4px
        position: relative
        height: 100%
        margin-right: 20px
        outline: 0
        color: #ccc
        opacity: 0.5
        transform: scale(0.99)
        transition: opacity 150ms, transform 150ms

        i
            transition: transform 150ms
            color: #eee
            transform: scale(1)

        &:hover
            color: darken(#ccc, 10%)
            opacity: 1
            transform: scale(1)

            i
                transform: scale(1.5)
                color: darken(#ccc, 10%)
