.pu-boardview-lane
    width: 280px
    border: 2px solid #eee
    background-color: #f9f9f9
    padding: 60px 0 40px 0
    border-radius: 4px
    position: relative

    &__header, &__footer
        position: absolute
        left: 0
        right: 0

    &__content
        list-style: none
        overflow-y: scroll
        height: 100%
        padding: 10px

    &__header
        height: 60px
        padding: 20px
        font-family: $font-secondary
        border-bottom: 2px solid #eee
        font-weight: 600
        top: 0
        font-size: 15px

    &__footer
        height: 40px
        padding: 10px
        border-top: 2px solid #eee
        bottom: 0

    .pu-boardview-card
        margin-bottom: 10px
