body
    background-color: $color-background

    &.pu-state-currentlayout-app
        background-color: $color-primary

    &.pu-state-currentlayout-modal
        background-color: $color-background-tertiery