body
    background-color: $color-background-tertiery
    -webkit-overflow-scrolling: touch
    overflow-x: hidden
    overflow-y: auto

    #pu-notifycontainer
        position: fixed
        bottom: 30px
        right: 0
        z-index: 101
        pointer-events: all

    &.pu-state-popupopen
        overflow: hidden

    &.pu-state-dropdownopen
        overflow: hidden
