body
    font-family: $font-primary
    color: $color-text
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4, h5, h6
    font-weight: bold
    line-height: 1.6em

h1
    font-size: 28px
    line-height: 1.4em

h2
    font-size: 22px
    line-height: 1.4em

p
    line-height: 1.6em

    strong, b
        font-weight: bold

    em, i
        font-style: italic

    a
        text-decoration: underline
        color: $color-text-link

        &:hover, &:active, &:focus
            color: $color-text-link-active