@import "pu-button"

#cookie-bar
  background: #222
  height: auto
  color: #eeeeee
  padding: 15px 15px 10px 15px
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 1
  p
    float: left
    margin-top: 10px
    margin-bottom: 10px

    a.more-info
      padding: 0
      font-weight: bold
      color: rgba(255, 255, 255, 0.8)
      &:hover
        color: white
  .cb-enable
    @extend .pu-button
    float: right

