@import "../variables/colors"

.pu-block-message
  .pu-paragraph
    padding-top: 5px
    padding-bottom: 5px
  img
    width: 100%
.markdown-support
  margin-top: 10px
  svg
    position: absolute
  a
    color: #999
    text-decoration: none
    margin-left: 20px
    font-size: 0.80em
    margin-top: 4px
    display: inline-block
    &:hover
      color: $color-text-secondary