.pu-avatar
    padding: 20px
    border-radius: 20px
    background-color: $color-solid-gray
    max-width: 40px
    max-height: 40px

    &-small
        padding: 15px
        border-radius: 15px
        max-height: 30px
        max-width: 30px