.pu-autocomplete
    span
        width: 100%

    .tt-menu
        width: 100%
        margin-left: 2px
        width: calc(100% - 4px)
        background-color: rgba(lighten($color-background-secondary, 10%), .95)
        max-height: 260px
        overflow: auto
        border-radius: 0 0 4px 4px

        > .tt-dataset
            > .tt-suggestion
                margin-bottom: 4px

                &:hover
                    color: $color-secondary

                &.tt-cursor
                    color: $color-secondary
