.pu-article
    p
        + p
            margin-top: 40px - 15px

        + figure
            margin-top: 40px - 8px

    figure
        + p
            margin-top: 40px - 8px

        + figure
            margin-top: 40px
