.pu-avatar
    position: relative
    display: inline-block
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: $color-solid-gray
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    $label_position: translate3d(-3px, -14px, 0)

    &-small
        width: 30px
        height: 30px

    &-anonymous
        border: 1px dotted $color-silver
        background-color: transparent
        background-image: url(/images/avatar-placeholder.png)

    &-online:after,
    &-offline:after
        content: ''
        position: absolute
        right: 1px
        bottom: 1px
        width: 8px
        height: 8px
        border: 2px solid $color-solid-gray
        border-radius: 50%

    &-online:after
        background: #5bb581

    &-offline:after
        background: #ea7575

    .pu-sub-image
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $color-solid-gray
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 50%
        z-index: 1
        border: 5px solid #fff

    .pu-sub-label
        opacity: 0
        pointer-events: none
        position: absolute
        top: 50%
        left: 100%
        margin-right: 10px - 3px
        display: inline-block
        background-color: $color-secondary
        color: $color-text-inverted
        white-space: nowrap
        border-radius: 2px
        padding-top: 10px - 2px
        padding-bottom: 10px - 3px
        padding-left: 15px
        padding-right: 10px
        font-weight: 600
        font-size: 14px
        transform: rotateZ(7deg) $label_position
        transform-origin: -25px 0px
        transition: transform $animation-duration-slide, opacity $animation-duration-slide

    &:hover
        .pu-sub-label
            transform: $label_position
            opacity: 1
            pointer-events: auto

    &-label
        width: 50px
        height: 50px
        background-color: transparent

    &-small
        width: 30px
        height: 30px

    @media screen and (min-width: 1400px)
        $label_position: translate3d(10px, -50%, 0)

        .pu-sub-label
            left: auto
            right: 100%
            transform: rotateZ(-7deg) $label_position
            transform-origin: calc(100% + 24px) 4px
            padding-left: 10px
            padding-right: 15px

        &:hover
            .pu-sub-label
                transform: $label_position
