.pu-app
    background-color: $color-background
    min-width: $breakpoint-desktop

    .pu-page
        min-height: 100%

    #pu-notifycontainer
        position: fixed
        bottom: 30px
        right: 0
        z-index: 10
        pointer-events: all

    &-responsive
        min-width: $breakpoint-min

    @media screen and (min-width: $breakpoint-desktop)
        padding-top: $spacing-app-headerheight

        .pu-header
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 15
            transform: translateZ(0) // fixes flickering header on scroll
