.pu-autocomplete
    
    .tt-menu
        width: 100%
        margin-left: 2px
        width: calc(100% - 4px)
        background-color: rgba(lighten($color-background-secondary, 10%), .9)
        max-height: 260px
        overflow: scroll
        border-radius: 0 0 4px 4px

        >.tt-dataset
            padding: 15px

            >.tt-suggestion
                padding: 5px
                cursor: pointer

                &:hover
                    color: $color-secondary
