.pu-app
    background-color: $color-primary
    min-width: $breakpoint-app

    .pu-layout
        min-height: 100vh

    #pu-notifycontainer
        position: fixed
        bottom: 30px
        right: 0
        z-index: 10
        pointer-events: all

    @media screen and (min-width: $breakpoint-app)
        .pu-layout
            padding-top: 60px

        .pu-header
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 15
