.pu-avatar
    display: inline-block
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: $color-solid-gray
    overflow: hidden
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    img
        width: 100%
        min-width: 100%
        min-height: 100%

    a
        display: block
        width: inherit
        height: inherit

    &-small
        width: 30px
        height: 30px