.pu-activity
    border: 2px solid $color-gallery
    border-radius: 5px
    padding: 20px
    margin-bottom: $spacing-default

    .pu-activity-title
        font-size: 22px

    &:last-child
        margin-bottom: 0