.pu-button
    border: 2px solid transparent
    border-radius: 5px
    padding: 10px 15px
    outline: none
    display: block
    font-size: 14px
    color: $color-white
    cursor: pointer

    &:focus
        box-shadow: inset 0 0 0 1px rgba(white, .5)

    &-primary
        background-color: $color-sunshade

        &:hover
            background-color: lighten($color-sunshade, 10%)

        &:active
            background-color: darken($color-sunshade, 10%)

    &-secondary
        background-color: $color-downy

        &:focus
            border-color: darken($color-downy, 10%)

        &:hover
            background-color: lighten($color-downy, 10%)

        &:active
            background-color: darken($color-downy, 10%)