.pu-button
    display: inline-block
    height: 40px
    border: 2px solid transparent
    border-radius: 4px
    padding: 10px 14px 11px 14px
    outline: none
    font-family: $font-secondary
    font-size: 15px
    line-height: 1em
    cursor: pointer
    transition: background-color $animation-duration, color $animation-duration, border-color $animation-duration
    box-shadow: inset 0 0 0 1px rgba($color-white, 0)
    background-color: $color-sunshade
    text-decoration: none
    user-select: none
    color: $color-white
    font-weight: bold

    i
        margin-right: 10px
        font-size: 18px
        line-height: 14px
        vertical-align: middle
    
    &:hover
        color: $color-white
        background-color: darken($color-sunshade, 5%)

    &:active
        padding-top: 11px
        padding-bottom: 10px

    &-iconright
        i
            margin-right: 0
            margin-left: 1px

    &-large
        padding: 21px 30px

    &-header
        display: block
        background-color: $color-header
        height: 60px
        padding: 21px 30px
        border-radius: 0
        font-size: 16px
        font-family: $font-primary
        font-weight: bold
// =======
//         border: 0
//         background-color: $color-header
//         padding: 24px 30px
//         border-radius: 0
//         max-height: 60px
//         overflow: hidden
//         font-size: 15.5px
//         font-family: $font-secondary
// >>>>>>> ft-dropdowns

        &:active
            padding-top: 22px
            padding-bottom: 20px

        &:hover
            background-color: darken($color-header, 5%)

        &-active
            border-bottom: 0px
            position: relative
            z-index: 1
            color: $color-solid-black

            &:hover
                background-color: $color-header
                color: $color-solid-black

            &:after
                content: ''
                position: absolute
                border: 16px solid $color-header
                background-color: $color-white
                border-top-left-radius: 16px + 4px
                border-top-right-radius: 16px + 4px
                border-bottom: 0
                left:0
                right:0
                bottom:0
                top:-9px
                max-height: 60px - 16px + 7px
                z-index: -1

    &-browse
        background-color: $color-browse

        &:hover
            background-color: darken($color-browse, 5%)

    &-dropdown
        background-color: $color-white
        border: 2px solid $color-faded-gray
        color: $color-dusty-gray

        &:hover
            border-color: $color-solid-gray
            background-color: $color-white
    
    &-facebook
        background-color: $color-facebook

        &:hover
            background-color: lighten($color-facebook, 10%)

        &:active
            background-color: darken($color-facebook, 10%)

    &-linkedin
        background-color: $color-linkedin

        &:hover
            background-color: lighten($color-linkedin, 10%)

        &:active
            background-color: darken($color-linkedin, 10%)

    &-text
        background-color: transparent
        color: $color-sunshade

        &:hover, &:active
            background-color: transparent
            color: darken($color-sunshade, 10%)

        &-gray
            color: $color-scorpion

            &:hover, &:active
                color: darken($color-scorpion, 50%)
    
    &-avatar
        figure 
            display: inline-block
            margin-top: -9px
            margin-bottom: -9px
            margin-right: 5px


    &-disabled
        pointer-events: none
        background-color: $color-disabled

        &:hover
            background-color: $color-disabled
            cursor: not-allowed

    &-tag
        height: 30px
        padding: 6px 7px 6px 7px
        background-color: $color-background
        font-size: 14px
        font-weight: 600
        color: $color-text
        border-radius: 2px

        &:hover
            color: $color-text
            background-color: darken($color-background, 3%)

        &:active
            padding-top: 7px
            padding-bottom: 5px
