.pu-button
    // Dimensions
    position: relative
    display: inline-block
    vertical-align: top
    padding: 12px 15px
    height: 40px

    // Cosmetics
    border-radius: 4px
    outline: none
    box-shadow: inset 0 0 0 1px transparent
    background-color: $color-secondary
    border: none

    // Font
    font-family: $font-secondary
    font-size: 15px
    line-height: 1em
    text-decoration: none
    color: $color-text-inverted
    font-weight: bold

    // Other
    cursor: pointer
    user-select: none
    transition: background-color $animation-duration, color $animation-duration, border-color $animation-duration, opacity $animation-duration

    // Icon
    i
        vertical-align: top
        font-size: 14px
        margin-right: 10px - 5px
    
    // Hover state
    &:hover
        background-color: darken($color-secondary, 7%)
        color: $color-text-inverted

    // Active state
    &:active
        transform: translateY(2px)
        transition-duration: 0
        background-color: darken($color-secondary, 11%)
        color: $color-text-inverted

    // Focus state
    &:focus
        color: $color-text-inverted        

    // State: loaidng
    &.pu-state-loading
        pointer-events: none
        opacity: .5

        &:after
            content: '...'

    // Type: right sided icon
    &-iconright
        i
            margin-left: 10px - 5px
            margin-right: 0

    // Type: large button (e.g. for homepage cover)
    &-large
        padding: 23px 30px
        height: 60px

    // Type: header button
    &-header
        position: relative
        background-color: $color-header
        padding: 21px 29px
        height: 60px
        border-radius: 0
        color: rgba($color-text-inverted, .8)
        font-size: 16px
        overflow: hidden
        text-align: center

        i
            margin-top: 2px

        span
            position: relative
            z-index: 1

        &:after
            content: ''
            transition: opacity 0.1s, transform $animation-duration, max-height .2s
            opacity: 0
            transform: translateY(5px)
            position: absolute
            border: 13px solid $color-header
            background-color: $color-background
            border-top-left-radius: 13px + 4px
            border-top-right-radius: 13px + 4px
            border-bottom: 0
            left: 0
            right: 0
            bottom: 0
            top: -8px
            max-height: 48px
            z-index: 0

        &:hover
            background-color: $color-header
            color: $color-text-inverted

        &:active
            background-color: $color-header
            transform: none
            color: $color-primary-dark

        &.pu-state-menu-active
            color: $color-text-secondary

            &:hover
                color: $color-text-secondary

            &:after
                opacity: 1
                transform: translateY(0)
                max-height: 55px

        // Subtype: header-modal
        &-modal
            background-color: $color-background-tertiery
            color: $color-text-subtle

            &:hover
                background-color: $color-background-tertiery
                color: darken($color-text-subtle, 7%)

            &:active
                background-color: $color-background-tertiery
                color: darken($color-text-subtle, 20%)
    
    // Type: navigation button
    &-nav
        height: 70px
        padding: 35px 0 0
        background-color: $color-background-secondary
        color: $color-text-secondary
        border-radius: 0
        border-bottom: 2px solid transparent

        &:hover
            color: $color-text-secondary
            background-color: $color-background-secondary
            border-color: rgba($color-text-secondary, .2)

        &:active
            transform: none
            background-color: $color-background-secondary
            color: $color-text-secondary
            border-color: rgba($color-text-secondary, .5)

        &.pu-state-active
            border-color: $color-text-secondary
            cursor: default

    // Type: secondary button
    &-secondary
        background-color: $color-primary

        &:hover
            background-color: darken($color-primary, 7%)

        &:active
            background-color: darken($color-primary, 11%)

    // Type: input lookalike button
    &-input
        @include input()
        @extend %clearfix
        color: $color-text-subtle
        font-weight: bold
        border-color: $color-border

        i
            display: block
            float: right
            margin-right: 0
            margin-left: 10px - 5px

        &:hover
            background-color: $color-background
            border-color: darken($color-border, 11%)
            color: $color-text-subtle

        &:active
            transform: none
            transition-duration: 0
            background-color: $color-background
            border-color: darken($color-border, 20%)
            color: $color-text-subtle

        &:focus
            color: $color-text-subtle
    
    // Type: facebook
    &-facebook
        background-color: $color-facebook

        &:hover
            background-color: darken($color-facebook, 7%)

        &:active
            background-color: darken($color-facebook, 11%)

    // Type: linkedin
    &-linkedin
        background-color: $color-linkedin

        &:hover
            background-color: darken($color-linkedin, 7%)

        &:active
            background-color: darken($color-linkedin, 11%)

    // Type: text
    &-text
        padding-left: 0
        padding-right: 0
        background-color: transparent
        color: $color-secondary

        &:hover
            background-color: transparent
            color: darken($color-secondary, 10%)

        &:active
            background-color: transparent
            transform: none
            color: $color-text-subtle

        &-gray
            color: $color-text-secondary

            &:hover
                color: darken($color-text-secondary, 10%)

            &:active
                color: $color-text-subtle
    
    // Type: avatar
    &-avatar
        figure 
            display: inline-block
            margin-top: -9px
            margin-bottom: -9px
            margin-right: 10px - 4px

    // Type: avatar
    &-social
        background-color: transparent
        background-image: url(images/border-dot.png)
        background-size: cover
        padding: 20px
        border-radius: 50%
        line-height: 0
        font-size: 0
        max-width: 40px
        
        i 
            font-size: 22px
            color: $color-solid-black
            text-align: center
            transition: color $animation-duration
            display: inline-block
            line-height: 0
            width: 40px
            position: absolute
            left: 0

        &:hover
            background-color: transparent

            i 
                color: #000

        &:active
            background-color: transparent
            transform: scale(.95)

    // Type: disabled
    &-disabled
        pointer-events: none
        background-color: $color-background-secondary

        &:hover
            background-color: $color-background-secondary
            cursor: not-allowed

    // Type: inputheight
    &-inputheight
        padding-top: 15px
        padding-bottom: 15px
        height: 46px

    // Type: contribute
    &-contribute
        height: 32px
        padding-top: 9px
        padding-bottom: 8px
        color: $color-text
        background-color: transparent
        text-align: center
        font-weight: normal

        &:hover
            background-color: $color-background-tertiery
            color: $color-text

        &:active
            transform: none
            transition-duration: 0
            background-color: darken($color-background-tertiery, 5%)
            color: $color-text

        &:focus
            color: $color-text

        &.pu-state-active
            color: $color-primary
            font-weight: 600