.pu-block
    border: 2px solid $color-gallery
    border-radius: 5px
    padding: $spacing-default
    margin-bottom: $spacing-default

    &-title
        font-size: 22px
    
    &-container
        padding: 0
        border: 0

        p 
            margin-bottom: $spacing-default

    &-active
        border-color: $color-solid-gray

    &:last-child
        margin-bottom: 0
