.pu-block
    border: 2px solid $color-gallery
    border-radius: 5px
    padding: $spacing-default
    margin-bottom: $spacing-default

    &-title
        font-size: 22px

    time 
        line-height: 1.6em
        color: $color-text-subtle
        font-weight: bold 
        font-size: 14px
        margin-top: 5px
    
    &-container
        padding: 0
        border: 0

        p 
            margin-bottom: $spacing-default

        .pu-form.pu-form-contribution
            margin: 0

        .pu-button-checkbox
            color: $color-solid-gray

        .pu-checkbox:checked + .pu-button-checkbox
            color: $color-header

        &-child
            border: 2px solid $color-gallery
            border-radius: 5px
            padding: $spacing-default

        &-child:first-child
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            border-bottom: 0
            padding-bottom: 10px

        &-child:nth-child(2)
            border-radius: 0
            border-bottom: 0
            padding-top: 10px
            padding-bottom: 10px

        &-child:last-child
            padding-top: 10px
            border-top-left-radius: 0
            border-top-right-radius: 0
            border: 2px solid $color-gallery
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px

        &:hover
            .pu-button-checkbox
                color: $color-solid-black

            .pu-checkbox:checked + .pu-button-checkbox
                color: $color-header

    &-active
        border-color: $color-solid-gray

    &:last-child
        margin-bottom: 0
