.pu-button-revealing-input
    display: table
    width: 100%

    &__input, &__button
        display: table-cell
        vertical-align: top
        white-space: nowrap

    &__input
        width: 100%

    &__button
        display: none

        .pu-button-2
            height: 45px
            margin-left: 10px

    &:hover
        .pu-button-revealing-input__button
            display: table-cell


