.pu-brand
    font-family: $font-secondary
    padding: 13px 55px
    background-image: url(/images/logo.png)
    background-size: 100px auto
    background-position: center
    background-repeat: no-repeat
    width: 180px

    h1
        display: none