@keyframes wiggle
    0%
        transform: rotate(-20deg)
    2%
        transform: rotate(20deg)
    4%
        transform: rotate(-20deg)
    6%
        transform: rotate(20deg)
    8%
        transform: rotate(0deg)
    100%
        transform: rotate(0deg)

.pu-badge
    vertical-align: middle
    display: inline-block
    margin-top: -7px
    animation: wiggle 3s linear infinite
    i
        color: #ffa725
        font-size: 30px
        margin-top: 0
        text-align: center
        margin: auto
        vertical-align: middle
        text-shadow: 1px 1px 0px rgba(0,0,0,0.1)
    span
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        display: block
        line-height: 30px
        text-align: center
        font-size: 14px
