.pu-commentbox
    .pu-sub-box
        padding: 10px
        border: 2px solid $color-border-light
        background-color: $color-background
        border-radius: 3px

    .pu-sub-author
        margin-top: 20px
        margin-left: 20px

        .cell
            white-space: normal
            vertical-align: top
