.pu-columnslayoutaction
    color: #999
    font-size: 15px
    margin-top: 8px

    a
        color: #999
        text-decoration: none
        transition: color .15s ease-out

        &:hover
            color: darken(#999, 20%)

    .picon-plus
        font-size: 12px
        margin-right: 5px
