.pu-commentbox
    .pu-sub-box
        padding: 7px 10px
        border: 2px solid $color-border-light
        background-color: $color-background
        border-radius: 3px

    .pu-sub-author
        max-width: 100%
        width: auto
        margin-top: 20px
        margin-left: 20px

        .cell
            white-space: normal
            vertical-align: top

    @media screen and (min-width: $breakpoint-tablet)
        .pu-sub-box
            padding: 14px 20px
