.pu-columnslayout
    font-size: 0

    .pu-sub-column
        vertical-align: top
        display: inline-block
        list-style: none
        padding-left: 0
        $minus: 60px / 4
        width: calc(25% - #{$minus})
        margin-right: 20px

        &:last-child
            margin-right: 0

        > li
            margin-bottom: 18px

        .pu-sub-tile
            background-color: #f3f3f3
            border-radius: 4px

            div
                opacity: 0
                transition: opacity .2s

            &-rendered
                background-color: transparent

                div
                    opacity: 1

    &:after
        content: ''
        display: block
        clear: both

    &-one
        .pu-sub-column
            width: 100%

    &-two
        .pu-sub-column
            width: 50%

    &-three
        .pu-sub-column
            width: percentage(1 / 3) // 33.3%

    &-four
        .pu-sub-column
            width: 25%

    &--measurement
        position: absolute
        bottom: 1000%
        visibility: hidden
        pointer-events: none

        > ul
            list-style: none
            white-space: nowrap

            > li
                display: inline-block
                white-space: normal
