.pu-contribution
    border-top: 2px solid $color-gallery

    &:first-child
        border-top: 0

    p,
    .pu-avatar
        vertical-align: top

    p
        display: inline-block
        margin-left: 8px
        line-height: 30px
