.pu-contribution
    
    .pu-form
        text-align: center

        .pu-button-checkbox
            width: 32%
    
    .pu-list
        li
            line-height: 40px

            span
                display: inline-block
                width: 40%