.pu-contribution
    
    .pu-form

        .pu-button-checkbox
            width: 32%
        input 
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button
                display: none

    .pu-list
        li
            line-height: 40px

            >span
                display: inline-block
                width: 40%