.pu-comment
    >figure,
    > div
        display: inline-block
        vertical-align: top

    > div
        width: calc(100% - 40px)

        p
            margin-bottom: -1px
            line-height: 1.2em
    figure
        margin-right: 5px

        &.pu-sub-line
            height: 2px
            background-color: $color-text-subtle
            width: 30px
            vertical-align: middle

    time
        color: $color-text-subtle
        transition: opacity .2s
        font-weight: 700
        font-size: 12px

    &-systemmessage
        p
            width: auto
            float: left

        time
            vertical-align: middle
            &:before
                content: '-'
                margin-left: 10px
                margin-right: 10px
