.pu-contentpage

    h1
        font-size: 26px

    > p,
    > article
        padding-left: $grid-column + $grid-gap
        padding-right: $grid-column + $grid-gap

    > p,
    > article,
    > .pu-image
        margin-bottom: 40px


    > p
        font-size: 18px


    > article
        h1,
        h2,
        h3
            font-weight: 700
            margin-bottom: 10px

        h1
            font-size: 30px

        h2
            font-size: 22px

        h3
            font-size: 18px

        p,
        ul
            margin-bottom: 30px

        p
            font-size: 16px

        ul
            li
                margin-bottom: 10px

        .pu-face
            margin-right: 50px

    &-wide
        .pu-list-pricing
            > li
                text-align: center
                margin-right: 10px
                margin-left: 10px
                margin-bottom: 10px
                width: 50%
                width: calc(50% - 20px)
            > li:nth-child(odd)
                margin-left: 0
                width: calc(50% - 10px)
                text-align: right
            > li:nth-child(even)
                margin-right: 0
                width: calc(50% - 10px)
                text-align: left

        @media screen and (min-width: $breakpoint-desktop)
            min-width: 1000px
            max-width: 1160px
            padding-left: 0
            padding-right: 0

            > p,
            > article
                padding-left: $grid-column * 2 + $grid-gap * 2
                padding-right: $grid-column * 2 + $grid-gap * 2

            .pu-list-pricing
                > li:nth-child(even),
                > li:nth-child(odd)
                    text-align: center
                    margin-right: 10px
                    margin-left: 10px
                    margin-bottom: 10px
                    width: 25%
                    width: calc(25% - 20px)
                > li:first-child
                    text-align: center
                    margin-left: 0
                    width: calc(25% - 10px)
                > li:last-child
                    text-align: center
                    margin-right: 0
                    width: calc(25% - 10px)



