.pu-comment
    >figure,
    > div
        display: inline-block
        vertical-align: top

    > div
        width: calc(100% - 40px)

        p
            margin-bottom: -1px
            line-height: 1.2em
    figure
        margin-right: 5px

    time
        color: $color-text-subtle
        transition: opacity .2s
        font-weight: 700
        font-size: 12px

