.pu-dropdownitem
    width: 100%
    > a
        display: block
        text-decoration: none
        color: $color-solid-black
        padding: 7.5px 20px
        transition: background-color $animation-duration
        white-space: nowrap
        
        &:hover
            background-color: $color-dark-white

        figure.pu-avatar
            margin-bottom: -15px
            margin-top: -15px
            margin-right: 5px

        figure,
        p
            display: inline-block