.pu-expander
    position: relative
    $transition-duration: 150ms

    &__button
        position: relative
        border: 2px solid $color-primary
        height: 42px
        line-height: 0
        transition: background-color $transition-duration, border-color $transition-duration, color $transition-duration

    &__content
        top: calc(100% - 2px)
        right: 0
        z-index: 9
        position: absolute
        display: block
        padding: 15px
        border: 2px solid $color-border
        background-color: $color-background-secondary
        border-radius: 4px
        border-top-right-radius: 0
        opacity: 0
        pointer-events: none
        transition: opacity $transition-duration, transform $transition-duration
        transform: translateY(-3px)

    &__after
        display: block
        opacity: 0
        pointer-events: none
        transition: opacity $transition-duration

    &--is-expanded
        .pu-expander__button
            z-index: 10
            border: 2px solid $color-border
            background-color: $color-background-secondary
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            color: #999
            border-bottom: 0

        .pu-expander__content
            opacity: 1
            pointer-events: all
            transform: translateY(0px)

        .pu-expander__after
            pointer-events: all
            opacity: 1
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: rgba(#000, .2)
            z-index: 5

    @media screen and (max-width: 500px)
        &__content
            width: 100vw
            right: -20px

