.pu-expander
    position: relative

    &__button
        position: relative

    &__content
        top: calc(100% - 2px)
        right: 0
        z-index: 9
        position: absolute
        display: none
        padding: 15px
        border: 2px solid $color-border
        background-color: $color-background-secondary
        border-radius: 4px
        border-top-right-radius: 0

    &--is-expanded
        .pu-expander__button
            z-index: 10
            border: 2px solid $color-border
            background-color: $color-background-secondary
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            color: #999
            border-bottom: 0

        .pu-expander__content
            display: block

        &:after
            content: ''
            display: block
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: rgba(#000, .2)
            z-index: 5

    @media screen and (max-width: 500px)
        &__content
            width: 100vw
            right: -20px

