.pu-footer
    background-color: $color-background-footer
    color: $color-text-inverted
    padding: 60px 0
    z-index: 1
    position: relative

    .pu-sub-footer
        max-width: $grid-column * 12 + $grid-gap * 11
        margin-left: auto
        margin-right: auto
        padding: 0 40px

        &:after
            content: ''
            display: block
            clear: both

    section
        min-height: 10px
        float: left

        figure
            margin-bottom: 10px

        h2
            font-size: 18px
            margin-bottom: 30px - 11px

        h3
            font-size: 16px
            margin-bottom: 20px - 11px

        p
            margin-bottom: 20px - 8px

        .pu-list-footermenu
            margin-top: 15px

            a
                color: $color-text-inverted
                text-decoration: none

                &:hover
                    text-decoration: underline

        .pu-version
            margin-top: 20px
            margin-bottom: 0

        &.pu-sub-description
            width: 38%
            padding-right: 80px

        &.pu-sub-companylinks
            width: 16%
            padding-right: 40px

        &.pu-sub-sociallinks
            width: 16%
            padding-right: 40px

        &.pu-sub-feedback
            width: 30%
