.pu-formfield
    display: block
    position: relative
    @extend %clearfix

    .pu-label
        margin-bottom: 10px - 4px

    .pu-inputholder + .pu-inputholder
        margin-top: 10px

    .pu-hint
        position: absolute
        top: 0
        right: 0

    &-left
        float: left
        clear: left

    &-right
        float: right
        clear: right

    .end-date-field
        margin-bottom: 15px

    img 
        max-width: 100%
