.pu-footer
    background-color: $color-primary
    min-height: 100px
    padding: 80px 40px
    text-align: center
    color: $color-text-inverted

    section
        max-width: $grid-column * 8 + $grid-gap * 7
        margin-left: auto
        margin-right: auto

    h1
        font-size: 36px

    p
        font-size: 18px
        margin-top: 40px - 22px

        a
            color: $color-text-inverted

    .pu-sub-action
        margin-top: 40px - 9px

        .pu-button
            margin-right: 15px - 5px