.pu-form
    .pu-formfield + .pu-formfield,
    footer
        margin-top: 30px

    &-highlighted
        background-color: $color-gallery
        padding: $spacing-large
        border-radius: 5px
        margin-top: $spacing-default

        &:last-child
            margin-bottom: 0

        .pu-input
            border-color: $color-border

    &-block
        border-top: 2px solid $color-gallery
        padding-top: $spacing-default

    &-condensed
        margin-top: 0
        margin-bottom: 0

        .pu-formfield + .pu-formfield,
        footer
            margin-top: 10px

        .pu-button-text-subtle
            margin-right: 20px - 4px

    &:not(.pu-form-disableinvalidstates):invalid
        [type="submit"]

            pointer-events: none
            color: rgba($color-text-inverted, .5)

            &:after
                color: rgba($color-text-inverted, .5)

            &:hover
                color: rgba($color-text-inverted, .5)

    &.pu-form-disableinvalidstates,
    &:valid
        [type="submit"]
            background-color: $color-secondary

            &:hover
                background-color: darken($color-secondary, 7%)

    &-contribution
        .pu-button
            width: 32%
