.pu-formdropdown
    border-radius: 4px
    overflow: hidden
    position: relative
    z-index: 1
    display: block
    background-color:$color-background
    border: 2px solid $color-faded-gray
    float: right

    .pu-button,
    .pu-dropdown
        border: 0
        width: 100%
        text-align: left

    .pu-dropdown
        .pu-dropdownitem
            a
                padding-left: 15px

    &:hover
        color: $color-solid-black
        border-color: $color-solid-gray
        background-color: $color-background