.pu-form
    .pu-formfield + .pu-formfield,
    footer
        margin-top: 30px

    &-highlighted
        background-color: $color-gallery
        padding: $spacing-large
        border-radius: 5px
        margin-top: $spacing-default

        &:last-child
            margin-bottom: 0

        .pu-input
            border-color: $color-border

    &-block
        border-top: 2px solid $color-gallery
        padding-top: $spacing-default

    &-condensed
        margin-top: 0
        margin-bottom: 0

        .pu-formfield + .pu-formfield,
        footer
            margin-top: 10px

        .pu-button-text-subtle
            margin-right: 10px

    &-contribution
        .pu-button
            width: 32%