.pu-filterbar
    > .pu-sub-label,
    > .pu-sub-input
        float: left
        margin-left: 20px

        &:first-child
            margin-left: 0

    > .pu-sub-label
        font-size: 18px
        font-weight: bold
        line-height: 43px

    &:after
        content: ''
        display: block
        clear: both

    > .pu-sub-submit
        display: none

