.pu-footer
    background-color: $color-background-footer
    color: $color-text-inverted
    padding: 60px 0
    // min-height: 100px
    // padding: 80px 40px
    // text-align: center
    // color: $color-text-inverted

    .pu-sub-footer
        max-width: $grid-column * 12 + $grid-gap * 11
        margin-left: auto
        margin-right: auto
        padding: 0 40px

        &:after
            content: ''
            display: block
            clear: both

    section
        float: left

        figure
            margin-bottom: 10px

        h2
            font-size: 18px
            margin-bottom: 30px - 11px

        h3
            font-size: 16px
            margin-bottom: 20px - 11px

        p
            margin-bottom: 20px - 8px

        &.pu-sub-description
            width: 40%
            padding-right: 80px

        &.pu-sub-companylinks
            width: 15%
            padding-right: 40px

        &.pu-sub-sociallinks
            width: 15%
            padding-right: 40px

        &.pu-sub-feedback
            width: 30%

    // h1
    //     font-size: 36px

    // p
    //     font-size: 18px
    //     margin-top: 40px - 22px

    //     a
    //         color: $color-text-inverted

    // .pu-sub-action
    //     margin-top: 40px - 9px

    //     .pu-button
    //         margin-right: 15px - 5px

    //     span
    //         display: inline-block
    //         margin-top: 6px