.pu-face
    text-align: center

    .pu-avatar
        margin-bottom: 20px

    > .pu-list:first-of-type
        li:first-child
            font-weight: 700
            font-size: 18px

            a
                color: $color-text
                text-decoration: none
                &:hover,
                &:active,
                &:focus
                    color: #000

        li
            font-size: 16px

        margin-bottom: 20px

    .pu-sub-socials
        li
            margin-right: 10px
            a
                color: #999

            &:last-child
                margin-right: 0
