.pu-face
    text-align: center

    .pu-avatar
        margin-bottom: 20px

    > .pu-list:first-of-type
        li:first-child
            font-weight: 700
            font-size: 18px

        li
            font-size: 16px

            a
                color: $color-text
                text-decoration: none
                &:hover,
                &:active,
                &:focus
                    color: #000
                    text-decoration: underline

        margin-bottom: 20px

    .pu-sub-socials
        li
            margin-right: 10px

            a
                color: #999
                font-size: 12px
                vertical-align: top

            &:last-child
                margin-right: 0
