.pu-face
    text-align: center

    .pu-avatar
        margin-bottom: 20px

    > .pu-list
        li:first-child
            font-weight: 700
            font-size: 18px

        li
            font-size: 16px

        margin-bottom: 20px

    .pu-sub-socials
        li
            margin-right: 10px
            a
                color: #999

            &:last-child
                margin-right: 0
