.pu-formfield
    display: block
    position: relative
    @extend %clearfix

    .pu-label
        margin-bottom: 7px

    .pu-input, .pu-textarea
        margin: 5px 0 10px

    .pu-hint
        position: absolute
        top: 0
        right: 0

    &-left
        float: left
        clear: left

    &-right
        float: right
        clear: right
