.pu-form
    .pu-formfield + .pu-formfield
        margin-top: 30px

    &-highlighted
        background-color: $color-gallery
        padding: $spacing-large
        border-radius: 5px
        margin-bottom: $spacing-large
        margin-top: $spacing-default

        &:last-child
            margin-bottom: 0

    &-block
        border-top: 2px solid $color-gallery
        padding-top: $spacing-default