.pu-header
    position: relative
    $page-padding: 40px
    min-width: $grid-column * 9 + $grid-gap * 8 + $page-padding * 2
    background-color: $color-primary
    color: $color-text-inverted
    height: 60px
    @extend %clearfix

    > section
        float: left

    > aside
        float: right

    &-modal
        background-color: $color-background-tertiery

    &-progress
        font-family: $font-secondary
        font-size: 16px
        font-weight: 600
        position: relative
        text-align: center

        .pu-progresspager
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            margin-top: -1px

        .pu-button
            margin-top: 9px
