.pu-headernav
    @extend %clearfix
    max-height: 60px
    
    > li
        // float: left
        position: relative
        margin-right: 2px
        overflow: visible

        &:after
            content: ''
            background-color: #79cdd4
            height: 20px
            width: 2px
            position: absolute
            top: 0
            right: -2px

        &:last-child
            margin-right: 0
            &:after
                display: none