$modal-bar-height: 70px

@mixin seperator()
    &::after
        content: ''
        position: absolute
        right: 0
        top: 0
        height: 20px
        width: 2px
        background-color: rgba(#fff, .2)

.pu-header
    width: 100vw
    position: relative
    z-index: 5
    background-color: $color-primary
    height: 60px

    .pu-sub-more
        display: none

    .pu-sub-logo
        text-align: center
        padding: 0 15px

        @include seperator()

        h1 span
            display: none

        .pu-brand
            display: inline-block
            margin-top: 17px
            margin-bottom: 5px

    .pu-button-header
        margin-top: 10px
        span
            display: none

    .pu-sub-tribes
        float: none

    > .pu-list
        white-space: nowrap
        height: 100%

        > li
            margin-right: 5px

    &-modal
        background-color: $color-background-tertiery
        text-align: center
        height: $modal-bar-height

        &.pu-header-progress
            .pu-progresspager
                padding-top: $modal-bar-height
                top: 0

    &-progress
        font-family: $font-secondary
        font-size: 15px
        font-weight: 600
        position: relative

        .pu-progresspager
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            margin-top: -1px
            z-index: 1

        .pu-button
            margin-top: 9px

    @media screen and (min-width: $breakpoint-desktop)
        .pu-sub-more
            display: inline-block

        .pu-sub-logo
            padding: 0 30px

        .pu-button-header
            margin-top: 0
            span
                display: inline

        .pu-sub-tribes
            float: left

        > .pu-list > li
            @include seperator()

            &:last-child::after
                display: none

        &-modal
            background-color: $color-background-tertiery
            height: $modal-bar-height
