.pu-header
    position: relative
    $page-padding: 40px
    min-width: $breakpoint-app
    background-color: $color-primary
    color: $color-text-inverted
    height: 60px
    @extend %clearfix

    > section
        float: left

    > aside
        float: right

    &-modal
        background-color: $color-background-tertiery
        text-align: center
        $height: 70px
        height: $height

        &.pu-header-progress
            .pu-progresspager
                padding-top: $height
                top: 0

    &-progress
        font-family: $font-secondary
        font-size: 16px
        font-weight: 600
        position: relative

        .pu-progresspager
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            margin-top: -1px
            z-index: 1

        .pu-button
            margin-top: 9px
