[class^="pi-"],
[class*=" pi-"]
    font-family: "part-up" !important
    font-style: normal !important
    font-weight: normal !important
    font-variant: normal !important
    vertical-align: inherit
    text-transform: none !important
    speak: none
    display: inline-block
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    transform: translate(0, 0)
    font-size: 1em

.pi-bell:before
    content: "a"
    font-size: 115%

.pi-calendar-check:before
    content: "b"

.pi-caret-down:before
    content: "c"

.pi-caret-left:before
    content: "d"

.pi-caret-up:before
    content: "e"

.pi-caret-right:before
    content: "f"

.pi-chart:before
    content: "g"
    font-size: 120%

.pi-chat:before
    content: "h"

.pi-check:before
    content: "i"
    font-size: 135%

.pi-cog:before
    content: "j"

.pi-facebook:before
    content: "k"
    font-size: 120%

.pi-globe:before
    content: "l"
    font-size: 115%

.pi-instagram:before
    content: "m"
    font-size: 120%

.pi-linkedin:before
    content: "n"
    font-size: 120%

.pi-location:before
    content: "o"

.pi-megaphone:before
    content: "p"
    font-size: 120%

.pi-message:before
    content: "q"
    font-size: 115%

.pi-monitor:before
    content: "r"

.pi-monkeytail:before
    content: "s"
    font-size: 120%

.pi-person-plus:before
    content: "t"
    font-size: 140%

.pi-plus:before
    content: "u"

.pi-question:before
    content: "v"
    font-size: 80%

.pi-search:before
    content: "w"

.pi-times:before
    content: "x"

.pi-twitter:before
    content: "y"
    font-size: 120%
