[class^="pi-"]:before,
[class*=" pi-"]:before
    font-family: "part-up" !important
    font-style: normal !important
    font-weight: normal !important
    font-variant: normal !important
    text-transform: none !important
    speak: none
    display: inline-block
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    transform: translate(0, 0)

.pi-bell:before
    content: "a"

.pi-calendar-check:before
    content: "b"

.pi-caret-down:before
    content: "c"

.pi-caret-left:before
    content: "d"

.pi-caret-up:before
    content: "e"

.pi-caret-right:before
    content: "f"

.pi-chart:before
    content: "g"

.pi-chat:before
    content: "h"

.pi-check:before
    content: "i"

.pi-cog:before
    content: "j"

.pi-facebook:before
    content: "k"

.pi-globe:before
    content: "l"

.pi-instagram:before
    content: "m"

.pi-linkedin:before
    content: "n"

.pi-location:before
    content: "o"

.pi-megaphone:before
    content: "p"

.pi-message:before
    content: "q"

.pi-monitor:before
    content: "r"

.pi-monkeytail:before
    content: "s"

.pi-person-plus:before
    content: "t"

.pi-plus:before
    content: "u"

.pi-question:before
    content: "v"

.pi-search:before
    content: "w"

.pi-times:before
    content: "x"

.pi-twitter:before
    content: "y"


i.pi-tiny
    font-size: 50%
i.pi-small
    font-size: 75%
i.pi-medium
    font-size: 125%
i.pi-large
    font-size: 150%

