.pu-inputholder
    position: relative

    .pu-icon
        display: block
        z-index: 2
        position: absolute
        top: 2px
        bottom: 2px
        width: 40px
        pointer-events: none
        color: lighten($color-dusty-gray, 10%)
        transition: color $animation-duration, border-color $animation-duration

        > *
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    &-lefticon
        .pu-input, .pu-select
            padding-left: 55px

        .pu-icon
            left: 2px
            border-right: 2px solid $color-gallery

    &-righticon
        .pu-input, .pu-select
            padding-right: 55px

        .pu-icon
            right: 2px

    .pu-input, .pu-select
        &:hover + .pu-icon
            border-color: darken($color-gallery, 10%)
            color: $color-dusty-gray
    
    .pu-input, .pu-select
        &:focus + .pu-icon
            border-color: $color-silver
            color: darken($color-dusty-gray, 25%)