.pu-input
    @include input()

    &-accent 
        font-weight: bold
    
    &-preholder
        color: rgba($color-text, .5)
        cursor: text
        white-space: nowrap
        overflow: hidden
        padding: 12px
        line-height: 0
        font-size: 0
            
        span 
            float: left
            display: block
            overflow: hidden
            line-height: normal
            font-size: 16px
            + span
                float: none

        input 
            // Dimensions
            position: relative
            float: right
            width: 100%
            margin: 0 
            padding: 0

            // Cosmetics
            background-color: $color-background
            outline: none
            border: 0

            // Font
            font-size: 16px
            font-family: $font-primary
            color: $color-text
            font-weight: normal
            text-decoration: none

            // Other
            transition: color $animation-duration

            &::placeholder
                color: rgba($color-text, .5)

    &-hidden
        display: none

    &-select
        -webkit-appearance: none // autoprefixer doesn't take care of these
        -moz-appearance: none
        appearance: none
        padding-right: 35px

    &container
        display: block

        &-select
            position: relative
            display: block

            &:after
                content: '\f0d7'
                font-family: 'FontAwesome'
                color: $color-text-subtle
                position: absolute
                top: 50%
                right: 20px
                margin-top: -8px
                pointer-events: none

            .pu-input
                webkit-appearance: none // autoprefixer doesn't take care of these
                -moz-appearance: none
                appearance: none
                padding-right: 35px

        &-text
            position: relative

            .pu-sub-text
                position: absolute
                top: 50%
                right: 30px
                z-index: 1
                color: $color-text-subtle
                margin-top: -8px
