.pu-icon
    
    &-hamburger
        &:before
            content: 'H'

    &-grid
        &:before
            content: 'G'
    
    &-flag
        &:before
            content: 'F'

    &-bell
        &:before
            content: 'B'

    &-facebook
        &:before
            content: 'F'

    &-linkedin
        &:before
            content: 'L'