.pu-layout
    background-color: $color-background
    $page-padding: 40px

    .pu-sub-sidebarcontainer
        position:absolute
        padding: 50px 0 0 160px

    .pu-sub-pagecontainer
        display: table
        min-width: $grid-column * 9 + $grid-gap * 8 + $page-padding * 2
        max-width: $grid-column * 12 + $grid-gap * 11
        margin-left: auto
        margin-right: auto

        .pu-sub-partupdetail-left
            display: table-cell

        .pu-sub-partupdetail-right
            display: table-cell
            width: 420px

        &-modal
            min-width: 0
            width: $grid-column * 6 + $grid-gap * 5 + $page-padding * 2

        &-full
            width: $grid-column * 12 + $grid-gap * 11
            max-width: none

    @media screen and (min-width: $grid-column * 10 + $grid-gap * 9)
        .pu-sub-pagecontainer
            .pu-sub-partupdetail-left
                position: absolute
                z-index: 1
                top: $header-height
                left: 0
                right: 420px

            .pu-sub-partupdetail-right
                float: none
                position: absolute
                top: $header-height
                right: 0
                width: 420px

    @media screen and (min-width: $grid-column * 12 + $grid-gap * 11 + $page-padding * 2)
        .pu-sub-pagecontainer
            .pu-sub-partupdetail-left
                left: 50%
                right: 50%
                margin: 0 -199px 0 -619px
            .pu-sub-partupdetail-right
                left: 50%
                width: auto
                margin: 0 0 0 199px
