.pu-list
    list-style: none
    padding-left: 0

    > li
        line-height: 1em

    &-horizontal
        font-size: 0

        > li
            display: inline-block
            vertical-align: top
            font-size: 16px

    &-tags
        margin-bottom: -10px
        margin-right: -10px

        li
            margin-right: 10px
            margin-bottom: 10px

            .pu-button
                margin-top: 0

    &-buttons
        margin-bottom: -20px
        margin-right: -20px

        li
            margin-right: 20px
            margin-bottom: 20px

            .pu-button
                margin-top: 0

    &-discover
        margin-bottom: -$grid-gap
        margin-right: -$grid-gap

        > li
            margin-right: $grid-gap
            margin-bottom: $grid-gap

    &-comments
        li
            + li
                margin-top: 20px - 9px

            p
                margin-top: -6px

    &-fieldwithbutton
        li
            display: table-cell
            vertical-align: top

            &:first-child
                width: 100%

            &:nth-child(n+2)
                padding-left: $grid-gap

        &-init-inactive
            li:nth-child(n+2)
                max-width: 0
                overflow: hidden
                padding: 0
                $d: $animation-duration-slide
                transition: max-width $d, padding $d, opacity $d
                opacity: 0

        &-state-active
            li:nth-child(n+2)
                max-width: 120px
                padding-left: $grid-gap
                opacity: 1

    &-arrows
        li
            + li
                position: relative
                margin-left: 25px

                &:before
                    content: '\f178'
                    font: normal normal normal 14px/1 FontAwesome
                    position: absolute
                    top: 8px
                    right: 100%
                    margin-right: 10px
                    color: #ccc

    &-features
        li
            $item-count: 3
            $width: ($grid-column * 8 + $grid-gap * 7) / $item-count
            $gap: $grid-gap * 2
            width: $width - $gap * (($item-count - 1) / $item-count)
            margin-right: $gap

            &:last-child
                margin-right: 0

    &-footermenu
        li
            margin-bottom: 20px - 5px

    &-avatars
        li
            margin-right: 10px
            margin-bottom: 10px - 4px

    &-users
        li
            margin-bottom: 10px

            figure,
            p
                display: inline-block
                vertical-align: top

            p
                line-height: 40px
                margin-left: 6px
                margin-top: 1px
                margin-bottom: -1px

    &-suggestiontiles
        margin: -5px

        li
            width: 50%
            float: left
            padding: 5px

            a
                color: $color-text
                text-decoration: none

                &:hover
                    color: $color-secondary

    &-selection
        li
            max-width: 200px
            margin-bottom: 10px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            a
                color: $color-text
                text-decoration: none

                &:hover
                    color: $color-secondary

            &:last-child
                margin-bottom: -3px
