.pu-list
    list-style: none
    padding-left: 0

    li
        line-height: 1em

    &-horizontal
        font-size: 0

        li
            display: inline-block
            vertical-align: top
            font-size: 16px

    &-tags
        margin-bottom: -10px
        margin-right: -14px

        li
            margin-right: 14px
            margin-bottom: 10px

            .pu-button
                margin-top: 0

    &-buttons
        margin-bottom: -20px
        margin-right: -20px

        li
            margin-right: 20px
            margin-bottom: 20px

            .pu-button
                margin-top: 0

    &-discover
        margin-bottom: -$grid-gap
        margin-right: -$grid-gap

        li
            margin-right: $grid-gap
            margin-bottom: $grid-gap

    &-comments
        li
            + li
                margin-top: 20px - 15px