.pu-layout
    background-color: $color-background
    $page-padding: 40px

    .pu-sub-pagecontainer
        min-width: $grid-column * 9 + $grid-gap * 8 + $page-padding * 2
        max-width: $grid-column * 12 + $grid-gap * 11
        margin-left: auto
        margin-right: auto
        @extend %clearfix;
        overflow-x: hidden

        .pu-sub-partupdetail-left,
        .pu-sub-partupdetail-right
            float: left

        .pu-sub-partupdetail-left
            $sidebar-width: 380px + $page-padding
            width: calc(100% - #{$sidebar-width})

        .pu-sub-partupdetail-right
            $sidebar-width: 380px + $page-padding
            width: $sidebar-width

        &-modal
            min-width: 0
            width: $grid-column * 6 + $grid-gap * 5 + $page-padding * 2
    
    @media screen and (min-width: $grid-column * 9 + $grid-gap * 8 + $page-padding * 2)
        overflow-x: hidden

        .pu-sub-pagecontainer
            overflow-x: visible