html,
body,
.pu-main,
.pu-main .pu-app,
.pu-main .pu-modal
    min-height: 100%

.pu-main
    position: relative

    .pu-modal,
    .pu-app
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        vertical-align: top
        z-index: 0

    &.bender-animating
        overflow: hidden
        pointer-events: none

    &.velocity-animating
        z-index: 1
