.pu-modal-sidebar
    font-size: 18px
    font-weight: bold

    ul
        padding: 0
        list-style: none

    a
        color: $color-solid-black
        text-decoration: none

    .pu-state-active > a
        color: $color-secondary
