html, body,
.pu-main
    width: 100%
    height: 100%

    &.bender-animating
        overflow: hidden

.pu-main
    .pu-modal, .pu-app
        position: absolute
        width: 100%
        min-height: 100%
        top: 0
        left: 0
        vertical-align: top
        z-index: 0

        &.velocity-animating
            z-index: 1