.pu-navigation
    position: relative
    background-color: $color-background-secondary
    height: 70px
    font-family: $font-secondary
    font-weight: 600
    padding-left: 40px
    
    > .pu-sub-background
        background-color: $color-background-secondary
        position: absolute
        right: 0
        top: 0
        bottom: 0

    .pu-button-header-secondary
        margin-right: 50px - 4px

    .pu-list-horizontal li
        margin-right: 50px

        &:last-child
            margin-right: 0