.pu-networktile
    width: 100%
    display: table
    color: $color-text
    text-decoration: none
    font-size: 16px
    line-height: 1.4em
    transition: background .2s

    .pu-sub-figurecontainer
        display: table-cell
        vertical-align: top

    figure
        width: 16px
        height: 16px
        border-radius: 2px
        background-position: center
        background-size: cover
        background-color: #222

    .pu-sub-namecontainer
        display: table-cell
        width: 100%
        vertical-align: top
        padding-left: 10px

    span
        display: block
        margin-top: -2px
        margin-bottom: -7px

    &:after
        content: ''
        display: block
        clear: left
