.pu-networktile
    display: block
    color: $color-text
    transition: background .2s

    figure
        float: left
        width: 16px
        height: 16px
        border-radius: 2px
        background-position: center
        background-size: cover
        background-color: #222

    span
        display: block
        float: left
        margin: 1px 0 -1px 8px
        font-size: 16px
        line-height: 1em

    &:after
        content: ''
        display: block
        clear: left
