.pu-navigation
    position: relative
    background-color: $color-background-secondary
    height: $spacing-app-partupnavheight
    font-family: $font-secondary
    font-weight: 600
    padding-left: 40px
    z-index: 11

    .pu-dropdownie
        position: absolute

        p
            font-size: 16px
            font-weight: 600
            color: $color-text
            margin-bottom: 10px

        ul.pu-list li
            margin-right: 10px
            margin-left: 0

            &:last-child
                margin-right: 0

    > .pu-sub-background
        background-color: $color-background-secondary
        position: absolute
        right: 0
        top: 0
        bottom: 0

    .pu-button-header-secondary
        margin-right: 50px - 4px

    .pu-list-horizontal
        float: left
        position: relative
        z-index: 1
        // transform: translateZ(0px) // to fix render bug

        li
            margin-right: 50px

            &:last-child
                margin-right: 0

        &.pu-sub-right
            float: right
            margin-right: 20px

            li
                margin-left: 10px

    &:after
        content: ''
        display: block
        clear: both

    &-header
        background-color: transparent
        padding-left: 0

    &-tabs
        white-space: nowrap
        position: relative

        .pu-button
            padding-bottom: 20px

            &.pu-state-active
                color: $color-primary
                border-color: $color-primary

        &:after
            content: ''
            height: 2px
            background-color: #eee
            position: absolute
            left: -40px
            right: -40px
            bottom: 0

    &-full

        .pu-list-horizontal
            &.pu-sub-right
                float: right
                margin-right: 0


                li
                    margin-left: 20px
                    margin-right: 0

                    &.pu-sub-button
                        padding-top: 15px
    &-compact
        height: 60px

        .pu-list-horizontal
            li
                margin-right: 20px

        .pu-button-nav
            height: 60px
            padding: 25px 0 0
            font-size: 14px

            i
                font-size: 14px

    @media screen and (min-width: $breakpoint-tablet + 1px)
        &-compact
            .pu-list-horizontal
                li
                    margin-right: 40px

                &.pu-sub-compact-list
                    li
                        margin-right: 20px
