.pu-partupheader
    position: relative
    color: $color-text-inverted
    font-size: 24px
    height: 260px
    background-color: #333

    h1
        position: absolute
        bottom: 40px
        left: 40px
        right: 40px