.pu-partuptile
    border: 2px solid $color-border-light
    width: $grid-column * 3 + $grid-gap * 2
    border-radius: 4px

    header
        padding: 20px
        
        h2
            margin-top: -4px
            font-size: 16px
            font-family: $font-secondary

    section
        padding: 0 20px 20px

        figure
            margin-bottom: 20px - 4px

        p
            font-size: 14px
            font-family: $font-primary

    footer
        padding: 20px
        background-color: $color-border-light

        p
            font-size: 14px
            font-family: $font-primary
            color: #494949
            font-weight: 600