.pu-popup
    $border-radius: 4px
    width: 700px
    margin: 0 auto
    background-color: $color-background-secondary
    border-radius: $border-radius
    position: absolute
    margin-top: -25%
    top: 50%
    right: 0
    left: 0

    > header 
        background-color: $color-background
        padding: 15px 20px
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius

        h4 
            font-size: 14px
            font-weight: 600

    > article
        padding: 40px