.pu-product
    background-color: $color-secondary
    border-radius: 4px
    max-width: 274px
    min-width: 230px
    text-align: center
    color: #fff
    display: inline-block

    header,
    article,
        padding: 20px

    header
        min-height: 155px
        h3
            font-weight: 700
            font-size: 22px
            margin-bottom: 10px
        p
            font-size: 16px

    article
        background-color: rgba(#000, 0.15)
        min-height: 121px

        h4
            font-size: 40px
            font-weight: 700
            margin-bottom: 0px

        p
            font-size: 16px

    footer
        text-align: left
        .pu-list
            li
                padding: 20px
                font-size: 16px

                span
                    font-weight: 700
            li:not(:first-child)
                border-top: 2px solid rgba(#000, 0.05)

    &-secondary
        background-color: $color-primary

