.pu-popup
    $border-radius: 4px
    width: 700px
    margin: 0 auto
    background-color: $color-background-secondary
    border-radius: $border-radius
    position: absolute
    top: 180px
    right: 0
    left: 0
    transition: top $animation-duration

    > header 
        background-color: $color-background
        padding: 15px 20px
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius

        h4 
            font-size: 14px
            font-weight: 600

        button
            display: block
            position: absolute
            right: 0
            top: 5px

    > article
        padding: 40px

        p
            margin-bottom: 20px
.pu-overlay-active
    .pu-popup
        top: 200px