.pu-partuppagelayout
    font-size: 0
    height: calc(100vh - 60px)
    -webkit-overflow-scrolling: touch
    overflow-x: scroll
    white-space: nowrap

    &__left,
    &__right
        display: inline-block
        font-size: 16px
        vertical-align: top
        height: 100%
        overflow: hidden
        white-space: normal

    &__left
        width: 100vw
        position: absolute
        left: 0
        z-index: 1
        transition: transform 200ms
        transform: translateX(-100vw)
        background-color: #eee

        &--is-active
            transform: translateX(0px)

    &__right
        width: 100%
        position: relative
        z-index: 0
        transition: filter 200ms
        background-color: #fff
        min-width: 650px

    &__content
        -webkit-overflow-scrolling: touch
        overflow: scroll
        position: relative
        height: calc(100% - 60px)

        &-fixedwidth
            overflow-x: hidden

    button.pu-partuppagelayout__closebutton
        position: absolute
        top: 10px
        right: 20px
        z-index: 12
        width: 40px
        height: 40px
        text-align: center
        padding: 12px
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)

    .pu-navigation
        .pu-button-nav.pu-state-active
            border-color: $color-primary

    &--section-is-active
        overflow: hidden

        .pu-partuppagelayout__right
            filter: brightness(89%)

            .pu-partuppagelayout__content
                -webkit-overflow-scrolling: auto
                overflow: hidden

    @media screen and (min-width: 420px)
        &__left
            width: 420px
            transform: translateX(-420px)

            &--is-active
                transform: translateX(0px)

    @media screen and (min-width: $breakpoint-tablet + 1px)
        button.pu-partuppagelayout__closebutton
            display: none

        &__left
            position: relative
            width: 420px
            display: inline-block
            transform: none

        &__right
            width: calc(100% - 420px)

            .pu-sub-section-button
                display: none

        &--section-is-active
            .pu-partuppagelayout__right
                filter: none
