.pu-page
    position: relative
    background: $color-background
    min-width: grid(10)

    .pu-sub-pageheader
        width: 100%
        background: $color-background
        border-bottom: 2px solid $color-border-light
        min-width: 992px
        transition: padding .2s, min-height .2s

        &-title
            min-height: 128px
            padding-top: 45px
            text-align: center

        &-filter
            min-height: 128px
            padding-top: 40px

        &-layered
            border-bottom: 0

            > section
                border-bottom: 2px solid $color-border-light
                max-height: 200px

                .pu-navigation
                    margin-bottom: -2px

                &:first-child
                    overflow: hidden
                    transition: padding .2s, max-height .2s, border .2s

            &.pu-state-descriptionexpanded
                > section
                    max-height: 500px

    .pu-sub-pagecontent
        padding: 50px 0

    .pu-wrap
        margin-left: auto
        margin-right: auto

    &-tinted
        background: $color-background-tertiery

    &-partup
        .pu-sub-partupdetail-content
            padding-top: 40px
            padding-right: 80px
            padding-bottom: 80px
            padding-left: 40px

    @media screen and (min-width: 992px)
        .pu-sub-pageheader
            position: fixed
            top: $spacing-app-headerheight
            left: 0
            z-index: 10

            &-title
                &-shrinked
                    min-height: 92px
                    padding-top: 30px

            &-filter
                &-shrinked
                    min-height: 98px
                    padding-top: 25px

            &-layered
                &-shrinked
                    > section:first-child
                        max-height: 0
                        padding-top: 0
                        padding-bottom: 0
                        border-width: 0

        &-discover
            padding-top: 128px

        &-home
            padding-top: 128px

        &-profile
            padding-top: 258px

    &-progresspager
        .pu-sub-pagecontent
            padding-top: 90px

// .pu-page
//     width: 100%
//     padding-left: 40px
//     padding-right: 40px
//     padding-top: 50px
//     padding-bottom: 25px
//     position: relative
//     z-index: 0

//     h1
//         margin-top: -10px

//     .pu-block-highlighted,
//     .pu-form-highlighted,
//     .pu-previewpost
//         margin-left: -40px
//         margin-right: -40px

//     &-modal
//         position: static
//         padding: 50px 40px

//         &-haspager
//             padding-top: 90px

//         &-hasfixedfooter
//             padding-bottom: 75px

//     &-full
//         padding-left: 0
//         padding-right: 0
