.pu-partupheader
    position: relative
    color: $color-text-inverted
    font-size: 24px
    background-color: #eeeeee

    > .pu-sub-title
        padding: 15px 20px 10px 20px
        white-space: normal

        h1
            font-family: $font-secondary
            font-weight: 700
            z-index: 2
            color: $color-text
            font-size: 24px

    > .pu-sub-picture
        height: 180px
        width: 100%
        background-size: cover
        background-color: #292929

    > .pu-sub-metadata
        padding: 0px 20px 15px 20px
        overflow: hidden
        white-space: normal
        font-size: 16px
        color: $color-text

        ul
            margin-bottom: 10px

            li
                margin-bottom: 10px
                font-size: 14px

                i
                    margin-right: 5px
                    font-size: 16px
                    width: 16px
                    text-align: center

            &.pu-partup-meta
                margin-bottom: 20px

        p
            margin-bottom: 20px

    &:after
        content: ''
        background-color: #fff
        display: block
        position: absolute
        bottom: 0
        right: 0
        width: 60px
        height: 3px

    &-archived > .pu-sub-picture
        filter: grayscale(100%) // geen IE support

    @media screen and (min-width: $breakpoint-desktop)
        > .pu-sub-title
            padding: 15px 20px 15px 40px

        > .pu-sub-metadata
            padding: 0px 20px 15px 40px
