[data-usercard]
    cursor: pointer

.pu-profilecard

    header
        position: relative
        min-height: 80px
        margin-bottom: 20px
        figure
            position: absolute
        span
            background-color: $color-primary
            border-radius: 30px
            border: 3px solid $color-text-inverted
            color: $color-text-inverted
            font-weight: 600
            left: 45px
            padding: 12px
            position: absolute
            top: 45px
        h4
            margin-top: 10px
            padding-top: 10px
            font-size: 16px
            margin-left: 100px
        p
            margin-left: 100px
            font-size: 14px
            color: $color-text-subtle

    article
        margin-bottom: 20px

        p
            font-size: 14px
            line-height: 1.4

.pu-hovercard .pu-profilecard article p
    $font-size: 14px
    $line-height: 1.4
    $lines-to-show: 3
    display: block
    display: -webkit-box
    max-width: 400px
    max-height: $font-size*$line-height*$lines-to-show
    margin: 0 auto
    font-size: $font-size
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
