.pu-profilemenu
    // padding-bottom: 60px

    section 
        max-height: 546px - 60px
        overflow: scroll
        > p 
            color: $color-solid-black
            font-weight: 600
            padding: 14px 19px 5px
            font-family: $font-secondary
            font-size: 14px

    // .pu-headernav
    //     margin-left: -2px
    //     margin-right: -2px

    footer
        background-color: $color-header

        li 
            min-width: 33%
            max-width: 33%

            a 
                text-align: center
                padding-left: 0
                padding-right: 0

    section > ul
        margin-bottom: 10px
        li
            a
                line-height: 45px