.pu-partupheader
    position: relative
    color: $color-text-inverted
    font-size: 24px
    height: 260px
    padding-right: 40px

    h1
        position: absolute
        bottom: 40px
        left: 40px
        right: 40px
        font-family: $font-secondary
        font-weight: 700

    > .pu-sub-picture
        position: absolute
        left: 0
        top: 0
        bottom: 0
        z-index: -1
        min-width: 480px
        
        background-color: #333
        background-size: cover
        background-position: center