.pu-profiletile
    position: relative
    width: 100%
    border-radius: 4px
    color: $color-text
    margin: 0 auto
    overflow: hidden
    position: relative
    line-height: 0
    display: block
    font-size: 0

    img
        width: 100%
        display: block

    > p
        position: absolute
        bottom: 0
        color: $color-text-inverted
        font-size: 14px
        padding: 10px 15px
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 75%)
        width: 100%

    iframe
        width: 100%
        height: 320px

    .pu-resulttile
        width: 49%
        width: calc(50% - 5px)
        &:nth-child(odd)
            margin-right: 5px
        &:nth-child(even)
            margin-left: 5px
