.pu-previewpost
    background-color: $color-gallery
    padding: $spacing-large
    border-radius: 5px
    margin-top: $spacing-default

    &:last-child
            margin-bottom: 0
    
    h3
        margin-bottom: 10px

    img
        max-width: 100%
        border-radius: 4px
        margin-bottom: 10px