.pu-partupcircle
    position: relative
    width: 191px
    height: 191px
    border-radius: 50%

    .pu-sub-radial
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0

    .pu-sub-inner
        display: block
        position: absolute
        $offset: 6px
        top: $offset
        left: $offset
        right: $offset
        bottom: $offset
        border-radius: 50%
        background-size: cover
        background-position: center
        background-color: #fafafa
        