.pu-profile
    $font-size: 16px
    $line-height: 1.4
    $lines-to-show: 3
    padding-bottom: 15px
    padding-top: 15px
    font-size: 0

    &__figure, &__div, &__ul
        display: block
        vertical-align: top

    &__div, &__ul
        width: 100%

    &__div
        margin-bottom: 15px

    .pu-avatar-medium-xl
        margin-bottom: 15px

        .pu-score
            bottom: -12px
            right: -12px

    &__figure

    &__div

        h3
            margin-left: 80px
            margin-top: -80px
            height: 75px
            font-size: 20px
            margin-bottom: 10px

            a:first-child
                &:before
                    content: '\A'
                    white-space: pre

            a
                text-decoration: none
                margin-left: 5px
                color: $color-text-subtle-active
                transition: color .2s
                font-size: 14px
                vertical-align: top

                &:hover,
                &:active
                    color: $color-text-subtle

        p
            display: block
            margin: 0 auto
            font-size: $font-size
            line-height: $line-height
            position: relative
            white-space: normal

            .pu-readmore
                display: none

    &__ul
        white-space: normal

    &__list
        li
            display: block


    @media screen and (min-width: $breakpoint-tablet)
        padding-bottom: 30px
        padding-top: 30px

        &__figure, &__div, &__ul
            display: inline-block
            vertical-align: top

        &__figure
            width: 120px
            margin-right: 20px

        &__div
            margin-right: 20px
            width: calc(100% - #{140px + 275px + 20px})

            h3
                margin-left: 0
                margin-top: 0
                height: auto
                white-space: initial

                a:first-child:before
                    display: none

            p
                display: block
                display: -webkit-box
                max-height: $font-size*$line-height*$lines-to-show
                margin: 0 auto
                font-size: $font-size
                line-height: $line-height
                -webkit-line-clamp: $lines-to-show
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                position: relative
                white-space: normal

                .pu-readmore
                    display: block

        &__ul
            width: 275px
