.pu-reactivetile
    background-color: #f3f3f3
    border-radius: 4px

    div
        opacity: 0
        transition: opacity .2s

    &-rendered
        background-color: transparent

        div
            opacity: 1
