.pu-search
    outline: none
    .pu-formfield
        display: table
        width: 100%

        span
            display: table-cell

        .pu-label
            width: 135px
            font-size: 21px
            vertical-align: middle

        .pu-sub-input
            width: calc(100% - 135px)
            margin-top: -13px
            margin-left: 18px

            &:after, &:before
                right: 95%
                top: 50%
                border: solid transparent
                content: " "
                height: 0
                width: 0
                position: absolute
                pointer-events: none
                z-index: 2

            &:after
                border-color: rgba(136, 183, 213, 0)
                border-right-color: #fff
                border-width: 7px
                margin-top: -7px
                z-index: 1
                left: -12px

            &:before
                border-color: rgba(194, 225, 245, 0)
                border-right-color: #eee
                border-width: 10px
                margin-top: -10px
                z-index: -1
                left: -18px

            .picon-search
                position: absolute
                top: 14px
                left: 12px
                font-size: 18px
                color: $color-button-gray-background
                z-index: 2
                transition: color .2s, margin .2s

            input.pu-input.form-control
                width: 44px
                transition: width .2s, margin .2s

    &:hover,
    &:focus,
    &.pu-state-active
        .pu-formfield .pu-sub-input

            &:before
                opacity: 0
            &:after
                opacity: 0

            input.pu-input.form-control
                width: 100%
                padding-left: 45px
                margin-left: -135px
                width: calc(100% + 135px)

                + .picon-search
                    color: #ccc
                    margin-left: -135px
