.pu-sidebar
    position: relative
    background-color: $color-background-secondary
    padding: 40px

    > .pu-sub-background
        background-color: $color-background-secondary
        position: absolute
        left: 0
        top: 0
        bottom: 0
        z-index: -1