.pu-search-button
    width: 44px
    position: relative
    z-index: 1
    margin-left: 15px
    i
        color: $color-border

        &.picon-search
            position: absolute
            top: 12px
            left: 10px
            font-size: 18px
            color: $color-button-gray-background
            z-index: 2
            transition: color $animation-duration, left $animation-duration
            pointer-events: none


    &:after, &:before
        right: 95%
        top: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        z-index: 2
        pointer-events: none

    &:after
        border-color: rgba(136, 183, 213, 0)
        border-right-color: #fff
        border-width: 7px
        margin-top: -7px
        z-index: 1
        left: -14px

    &:before
        border-color: rgba(194, 225, 245, 0)
        border-right-color: #eee
        border-width: 10px
        margin-top: -10px
        z-index: -1
        left: -20px

    &:hover
        &:before
            border-right-color: $color-border
