.pu-sidebar

    .pu-sidebar-wrap
        width: 420px;

        > section
            position: relative
            padding: 40px

            &:after
                content: ''
                position: absolute
                display: block
                bottom: 0
                left: 0
                width: 60px
                height: 3px
                background-color: $color-background

            &:last-of-type
                &:after
                    display: none

    .pu-sub-dark
        background-color: $color-background-secondary

    .pu-sub-light
        background-color: $color-background-tertiery

        > .pu-sidebar-wrap > section
            &:after
                background-color: $color-background-secondary

    .pu-sub-abstract
        font-size: 18px

    h2
        font-size: 16px
        color: #494949
        margin-bottom: 20px - 14px

    .pu-list-avatars
        margin-top: 25px - 12px
        margin-bottom: -2px

    .pu-list-users
        margin-top: 25px - 12px
        margin-bottom: -2px

    .pu-button
        margin-top: 20px - 8px

        &-social
            margin-right: 10px

    .pu-list-tags
        margin-top: 20px - 8px
