.pu-score
    background-color: #57c0c9
    border-radius: 50%
    border: 4px solid #ffffff
    color: #ffffff
    font-weight: 600
    padding: 21px
    position: absolute
    line-height: 0
    font-size: 0

    span
        font-size: 18px
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        text-align: center
        font-weight: 700
        width: 100%
        height: 100%
        display: block
        line-height: 42px
        font-family: $font-secondary

