@keyframes bouncey
    0%
        transform: translateY(0px)
    10%
        transform: translateY(-5px)
    20%
        transform: translateY(0px)
    100%
        transform: translateY(0px)

.pu-typing
    display: inline-block
    line-height: 30px
    background-color: #eee
    border-radius: 4px
    text-align: center
    padding-left: 10px
    padding-right: 10px
    margin: 5px
    position: relative

    > span
        background-color: #ccc
        display: inline-block
        padding: 3px
        margin: 2px
        border-radius: 50%
        vertical-align: middle
        animation-name: bouncey
        animation-timing-function: ease-in-out
        animation-duration: 2s
        animation-iteration-count: infinite

        &:first-child
            animation-delay: .2s
            + span
                animation-delay: .4s
                + span
                    animation-delay: .6s
    &:before
        content: ''
        display: block
        position: absolute
        left: -10px
        top: 10px
        border: 5px solid transparent
        border-right-color: #eee
