.pu-tile
    position: relative
    border: 2px solid $color-border-light
    width: $grid-column * 3 + $grid-gap * 2
    border-radius: 4px
    background: #fff
    color: $color-text
    text-decoration: none

    &:hover,
    &:active
        color: $color-text

    &-profile
        display: block
        font-size: 16px
        color: $color-text
        background-color: $color-background
        padding: 15px 20px
        min-height: 60px
