.pu-title
    font-size: 22px
    line-height: 1.4em
    font-weight: bold
    font-family: $font-secondary

    &-modal
        font-size: 28px

    &-large
        font-size: 28px

    &-home
        font-weight: normal