.pu-update
    @extend %clearfix

    > aside
        width: 130px
        float: left
        @extend %clearfix

        .pu-avatar
            float: left

        .pu-sub-time
            display: inline-block
            margin-left: 20px
            color: #7f7f7f
            font-size: 12px
            font-family: $font-primary
            line-height: 40px
            letter-spacing: 0.6px

    > section
        float: left
        width: calc(100% - 130px)

        > header
            margin-bottom: 25px - 20px
            @extend %clearfix

            h3
                float: left
                font-size: 18px
                color: $color-secondary
                font-weight: 600
                line-height: 40px

                a
                    color: $color-secondary
                    text-decoration: none

            .pu-button-text
                float: right
                color: #999
                opacity: 0
                pointer-events: none

                &:hover
                    color: #595959

        > footer
            .pu-list-comments
                span
                    font-weight: 600

            .pu-list-fieldwithbutton
                margin-top: 20px - 8px

            .pu-sub-view-all-comments-button
                font-size: 14px
                color: $color-secondary
                margin-bottom: 17px - 11px

                a
                    color: $color-secondary

    &:hover
        > section > header .pu-button-text
            opacity: 1
            pointer-events: visible