.pu-upload
    @extend %clearfix
    
    .pu-paragraph
        margin-top: .5em

    img 
        border-radius: 50%

    &-large
        img 
            border-radius: 0
        .pu-button 
            float: left
            margin-right: 20px

        span
            color: rgba($color-mine-shaft, .5)
            padding-top: 12px
            display: block
            font-size: 12px
            line-height: 1.6em