.pu-update
    @extend %clearfix

    > aside
        width: 130px
        float: left
        @extend %clearfix

        .pu-avatar
            float: left

        .pu-sub-time
            display: inline-block
            margin-left: 20px
            color: #7f7f7f
            font-size: 12px
            font-family: $font-primary
            line-height: 40px
            letter-spacing: 0.6px

    > section
        float: left
        width: calc(100% - 130px)

        > header
            @extend %clearfix

            h3
                float: left
                font-size: 18px
                color: $color-secondary
                font-weight: 600
                margin-top: 6px
                margin-bottom: -9px

                a
                    color: $color-secondary
                    text-decoration: none

            .pu-button-text
                float: right
                color: #999
                opacity: 0
                pointer-events: none
                margin-bottom: -15px

                &:hover
                    color: #595959

        > section
            margin-top: 20px

            // Type-specific
            .pu-title-large
                margin-top: -9px
                margin-bottom: -5px

        > footer
            .pu-sub-view-all-comments-button
                font-size: 14px
                color: $color-secondary
                margin-top: 20px - 5px
                margin-bottom: -11px

                a
                    color: $color-secondary

            .pu-list-comments
                li:first-child
                    margin-top: 20px

                li:last-child
                    margin-bottom: -8px

                p
                    margin-top: -6px

                span
                    font-weight: 600

            .pu-list-fieldwithbutton
                margin-top: 20px

    &:hover
        > section > header .pu-button-text
            opacity: 1
            pointer-events: visible