.pu-upload
    @extend %clearfix
    
    .pu-paragraph
        margin-top: .5em

    img 
        border-radius: 50%

    .pu-button
        margin-top: 30px

    &-large
        img 
            border-radius: 0

        .pu-button 
            float: left
            margin-right: 20px - 6px
            margin-top: 0

        > span
            color: rgba($color-mine-shaft, .5)
            padding-top: 8px
            display: block
            font-size: 16px
            line-height: 1.65em