.pu-wrap
    max-width: grid(10) + $spacing-app-pagepadding * 2
    padding-left: $spacing-app-pagepadding
    padding-right: $spacing-app-pagepadding

    &-modal
        position: relative
        max-width: grid(6) + $spacing-app-pagepadding * 2

        .pu-modalsidebar
            position: absolute
            right: 100%
            top: 5px

    &-columnlayout
        max-width: grid(10) + $spacing-app-pagepadding * 2

        $columns_threshold: grid(11) + $spacing-app-pagepadding * 2 // Be sure to keep discover-page.js (amountOfColumns helper) up-to-date with this.
        @media screen and (min-width: $columns_threshold)
            max-width: grid(12) + $spacing-app-pagepadding * 2
