.tt-menu
    width: 100%
    background-color: $color-background-transparent
    padding: 20px
    borde-radius: 3px

    .tt-suggestion
        margin-bottom: 5px
        color: $color-text
        transition: color .1s
        cursor: pointer
        line-height: 1.4em

        &:hover
            color: $color-secondary

        &:last-child
            margin-bottom: 0
