.pu-home-segments
    background-color: #3aaab3
    position: relative
    padding-top: 10px
    padding-bottom: 20px

    &__wrapper
        position: relative

    &__segment
        // max-width: calc(50% - 65px)

    &__divider
        content: ''
        position: absolute
        height: 4px
        background-color: $color-primary
        left: 30px
        right: 30px
        display: block

    &__button
        margin-top: 20px

    @media screen and (min-width: $breakpoint-tablet)
        &__segment
            max-width: calc(50% - 65px)
            margin-right: 65px

            &:last-child
                margin-right: 0
                margin-left: 65px

        &__divider
            display: inline-block
            top: 30px
            bottom: 30px
            left: auto
            right: auto
            height: auto
            width: 4px
