.pu-home-footer
    &__links
        padding: 30px 0
        background-color: #3aaab3

    &__list
        display: block
        width: 100%

    &__socials
        padding: 20px 0
        background-color: #31919a

        .pu-home-links__icon
            margin-left: 20px

        &__links
            opacity: .8

    @media screen and (min-width: $breakpoint-tablet)
        &__list
            display: inline-block
            width: 25%

            &:last-child
                text-align: right


.pu-home-links

    &__link, &__item, &__title
        margin-bottom: 10px
        font-size: 15px

    &__link, &__item, &__icon
        color: #fff

    &__link a
        color: #fff
        text-decoration: none

        &:hover
            text-decoration: underline
            color: #fff

    &__icon a
        color: #fff
        font-size: 12px

        &:hover
            text-decoration: none
            color: #fff

    &__title
        font-family: $font-secondary
        font-weight: 700
        color: #297980
        margin-bottom: 15px

