.pu-home-segments
    background-color: #3aaab3
    position: relative
    padding-bottom: 20px

    &__wrapper
        position: relative

    &__segment
        // max-width: calc(50% - 65px)

    &__divider
        content: ''
        position: absolute
        height: 4px
        background-color: $color-primary
        left: 30px
        right: 30px
        display: block

    &__button
        margin-top: 20px

    &__navigation
        margin-left: -20px
        margin-right: -20px
        padding: 0

        &__item
            width: 50%
            display: inline-block
            vertical-align: top

        &__button
            width: 100%
            padding: 50px 20px
            text-align: center
            background-color: transparent
            border: 0
            outline: 0
            color: #fff

            .pu-home-subtitle span
                border-bottom: 3px solid #57c0c9

            &--is-active
                background-color: #57c0c9
                .pu-home-subtitle span
                    border-bottom: 3px solid #3aaab3


    @media screen and (min-width: $breakpoint-phablet)

        &__navigation
            &__button
                padding: 50px


    @media screen and (min-width: $breakpoint-tablet)
        padding-top: 10px

        &__segment
            max-width: calc(50% - 65px)
            margin-right: 65px

            &:last-child
                margin-right: 0
                margin-left: 65px

        &__divider
            display: inline-block
            top: 30px
            bottom: 30px
            left: auto
            right: auto
            height: auto
            width: 4px
