.pu-home-header
    position: relative
    height: 100vh
    width: 100vw
    background-image: url('/images/about-image.jpg')
    background-size: cover
    background-position: center
    text-align: center
    min-height: 592px
    transition: height 400ms

    .pu-title
        margin-bottom: 20px
        white-space: nowrap

    .pu-centerview
        position: absolute

        &__horizontal-center
            width: 100vw
            padding: 20px
            padding-top: 60px

    .pu-home-calltoaction
        margin: 0 auto

    &__text
        font-size: 14px
        margin: 0 auto
        margin-bottom: 40px

    &__content
        position: relative
        z-index: 1
        height: 100%

    &__button
        margin-top: 40px
        transition: opacity 400ms, margin-top 400ms

        &--is-clicked
            opacity: 0
            margin-top: 0px !important

    &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba(7, 24, 25, 0.5)
        z-index: 0

    @media screen and (min-width: $breakpoint-tablet)

        .pu-title
            margin-bottom: 40px
            font-size: 45px

        &__text
            font-size: 18px
            margin-bottom: 60px
            max-width: 560px

        .pu-centerview__horizontal-center
            padding-top: 60px
            // width: 600px
            padding-bottom: 0

        &__button
            margin-top: 18vh

    &--is-collapsed
        height: 50vh

    // @media screen and (min-width: $breakpoint-desktop)
    //     .pu-centerview__horizontal-center
    //         width: 600px
