.pu-home-calltoaction
    padding: 20px
    background-color: rgba($color-primary, .8)
    border-radius: 4px
    width: 550px

    &__form
        margin-bottom: 20px
        font-size: 0

        &__input, &__button
            display: inline-block
            vertical-align: top
            height: 48px
            font-size: normal

        &__input
            background-color: #fff
            color: #000
            border-bottom-right-radius: 0
            border-top-right-radius: 0
            width: auto
            border: 0
            width: 60%

            &:hover, &:focus, &:active
                border: 0

        &__button
            width: 40%
            background-color: $color-secondary
            color: #fff
            border-bottom-left-radius: 0
            border-top-left-radius: 0

    &__description
        color: #fff
