/*Add focus styles that are clearly visible*/
.pu-button:focus {
	box-shadow: 0 0 15px #00a8ff;
}
.pu-button-facebook:focus {
	box-shadow: 0 0 15px #004fff;
}
input:focus{
	box-shadow: 0 0 10px #57C0C9;
	border: initial;
}
input[type="submit"]:focus {
	box-shadow: 0 0 10px #ff9800;
}
/*Style the valid and invalid states*/
input[type="password"]:valid,
input[type="email"]:valid {
	background-color: #e4ffdd;
}
input[type="password"]:invalid,
input[type="email"]:invalid {
	background-color: #ffdbdf;
}
/*Overwrite icon fonts with svg pics. The icon code didn't work the right way*/
.picon-times::before,
.picon-facebook::before,
.picon-linkedin::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;
	line-height: 20px;
	background-size: 16px;
}
.picon-times:before {
	width: 10px;
	height: 10px;
	background-size: 10px;
	line-height: 18px;
	background-image: url(../img/cancel.svg);
}
.picon-facebook:before {
	background-image: url(../img/facebook.svg);
}
.picon-linkedin:before {
	background-image: url(../img/linkedin.svg);
}
