.pu-layout--profile

    .pu-navigation

        &-compact
            .pu-formdropdown
                width: calc(100vw - 90px)

    header.pu-row
        margin-bottom: 20px

    &--self

        .pu-navigation

            &-compact
                .pu-formdropdown
                    width: calc(100vw - 40px)

