<template name="PartialsAppHeader">
    <header class="pu-header">
        <section>
            <ul class="pu-headernav pu-list pu-list-horizontal">
                <li>
                    <!-- Logo -->
                    <a class="pu-button pu-button-header pu-brand" href="{{pathFor 'home'}}">
                        <h1>Part-up</h1>
                    </a>
                </li>
                <li>
                    <!-- Menu dropdown -->
                    {{> WidgetDropdownMenu }}
                </li>
                <li>
                    <!-- Button: menu -->
                    <a class="pu-button pu-button-icon pu-button-header" href="{{pathFor 'discover'}}">
                        <i class="fa fa-th-large"></i> Discover
                    </a>
                </li>
                <li>
                    <!-- Button: menu -->
                    <a class="pu-button pu-button-icon pu-button-header" href="{{pathFor 'start'}}">
                        <i class="fa fa-flag"></i> Start
                    </a>
                </li>
            </ul>
        </section>
        <aside>
            <ul class="pu-headernav pu-list pu-list-horizontal">
                {{#if currentUser }}
                <li>
                    <!-- Button: notificaties -->
                    <!-- <a class="pu-button pu-button-icon pu-button-header">
                        <i class="fa fa-bell"></i> Notificaties
                        {{#each notifications }}
                            {{#if type = 'partups.supporters.new' }}
                                {{ type_data.supporter.name }} support nu {{ type_data.partup.name }}!
                            {{/if }}
                        {{/each}}
                    </a> -->

                    {{> WidgetDropdownNotifications }}
                </li>
                <li>
                        <!-- Button: profile -->
                        {{> WidgetDropdownProfile}}
                </li>
                {{ else }}
                <li>
                    <!-- Button: register -->
                    <a class="pu-button pu-button-header" href="{{pathFor 'register'}}">
                        {{_ 'generic-signup' }}
                    </a>
                </li>
                <li>
                    <!-- Button: login -->
                    <a class="pu-button pu-button-header" data-login>
                        {{_ 'generic-login' }}
                    </a>
                </li>

                {{/if }}
            </ul>
        </aside>
    </header>
</template>
