<template name="PartialsAppHeader">
    <header class="pu-header">
        <section>
            <ul>
                <li>
                    <!-- Logo -->
                    <a class="pu-button pu-button-header pu-brand" href="/">
                        <h1>Part-up</h1>
                    </a>
                </li>
                <li>
                    <!-- Button: menu -->
                    <a class="pu-button pu-button-icon pu-button-header">
                        <i class="fa fa-bars"></i> Menu
                    </a>
                </li>
                <li>
                    <!-- Button: menu -->
                    <a class="pu-button pu-button-icon pu-button-header">
                        <i class="fa fa-th-large"></i> Discover
                    </a>
                </li>
                <li>
                    <!-- Button: menu -->
                    <a class="pu-button pu-button-icon pu-button-header" href="/startpartup">
                        <i class="fa fa-flag"></i> Start
                    </a>
                </li>
            </ul>
        </section>
        <aside>
            <ul>
                <!-- <li>
                    <button data-translate="nl">nl</button>
                    <button data-translate="en">en</button>
                </li> -->
                <li>
                    <!-- Button: notificaties -->
                    <a class="pu-button pu-button-icon pu-button-header">
                        <i class="fa fa-bell"></i> Notificaties
                    </a>
                </li>
                <li>
                    {{#if currentUser }}
                        <!-- Button: profile -->
                        <a class="pu-button pu-button-avatar pu-button-header">
                            <!-- avatar -->
                            {{ currentUser.profile.firstName }}
                        </a>
                    {{ else }}
                        <!-- Button: login -->
                        <a class="pu-button pu-button-header" data-login>
                            Inloggen
                        </a>
                    {{/if }}
                </li>
            </ul>
        </aside>
    </header>
</template>