$folder-prefix: '/fonts/partup-icons'

@font-face
    font-family: 'part-up'
    src: url($folder-prefix + '/part-up.eot')
    src: url($folder-prefix + '/part-up.eot?#iefix') format('embedded-opentype'),url($folder-prefix + '/part-up.woff2') format('woff2'),url($folder-prefix + '/part-up.woff') format('woff'),url($folder-prefix + '/part-up.ttf') format('truetype'),url($folder-prefix + '/part-up.svg#part-upup') format('svg')
    font-weight: normal
    font-style: normal
