@font-face
    font-family: 'partup-icons'
    
    src: url("/fonts/icons/partup-icons.eot")
    
    src: url("/fonts/icons/partup-icons.svg#partup-icons"), url("/fonts/icons/partup-icons.ttf"), url("/fonts/icons/partup-icons.eot?#iefix"), url("/fonts/icons/partup-icons.woff")
    
    font-weight: normal
    font-style: normal

.picon-bell, .picon-calendar-check, .picon-caret-down, .picon-caret-left, .picon-caret-right, .picon-caret-up, .picon-chart, .picon-chat, .picon-check, .picon-cog, .picon-facebook, .picon-globe, .picon-info, .picon-instagram, .picon-linkedin, .picon-location, .picon-megaphone, .picon-message, .picon-monitor, .picon-monkeytail, .picon-person-plus, .picon-plus, .picon-question, .picon-search, .picon-times, .picon-twitter, .picon-warning
    font-family: 'partup-icons'
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-style: normal
    font-variant: normal
    font-weight: normal
    speak: none
    text-transform: none
    vertical-align: inherit
    display: inline-block
    font-size: inherit
    text-rendering: auto
    font-size: 1em


.picon-bell:before
    content: '\e001'

.picon-calendar-check:before
    content: '\e002'

.picon-caret-down:before
    content: '\e003'

.picon-caret-left:before
    content: '\e004'

.picon-caret-right:before
    content: '\e005'

.picon-caret-up:before
    content: '\e006'

.picon-chart:before
    content: '\e007'

.picon-chat:before
    content: '\e008'

.picon-check:before
    content: '\e009'

.picon-cog:before
    content: '\e00a'

.picon-facebook:before
    content: '\e00b'

.picon-globe:before
    content: '\e00c'

.picon-info:before
    content: '\e00d'

.picon-instagram:before
    content: '\e00e'

.picon-linkedin:before
    content: '\e00f'

.picon-location:before
    content: '\e010'

.picon-megaphone:before
    content: '\e011'

.picon-message:before
    content: '\e012'

.picon-monitor:before
    content: '\e013'

.picon-monkeytail:before
    content: '\e014'

.picon-person-plus:before
    content: '\e015'

.picon-plus:before
    content: '\e016'

.picon-question:before
    content: '\e017'

.picon-search:before
    content: '\e018'

.picon-times:before
    content: '\e019'

.picon-twitter:before
    content: '\e01a'

.picon-warning:before
    content: '\e01b'

