@font-face
    font-family: 'proxima-nova'
    src: url('/fonts/proxima-nova/regular/proxima-nova-regular.eot')
    src: url('/fonts/proxima-nova/regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype')
    src: url('/fonts/proxima-nova/regular/proxima-nova-regular.woff') format('woff')
    src: url('/fonts/proxima-nova/regular/proxima-nova-regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'proxima-nova'
    src: url('/fonts/proxima-nova/italic/proxima-nova-italic.eot')
    src: url('/fonts/proxima-nova/italic/proxima-nova-italic.eot?#iefix') format('embedded-opentype')
    src: url('/fonts/proxima-nova/italic/proxima-nova-italic.woff') format('woff')
    src: url('/fonts/proxima-nova/italic/proxima-nova-italic.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'proxima-nova'
    src: url('/fonts/proxima-nova/semibold/proxima-nova-semibold.eot')
    src: url('/fonts/proxima-nova/semibold/proxima-nova-semibold.eot?#iefix') format('embedded-opentype')
    src: url('/fonts/proxima-nova/semibold/proxima-nova-semibold.woff') format('woff')
    src: url('/fonts/proxima-nova/semibold/proxima-nova-semibold.ttf') format('truetype')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'proxima-nova'
    src: url('/fonts/proxima-nova/semibold-italic/proxima-nova-semibold-italic.eot')
    src: url('/fonts/proxima-nova/semibold-italic/proxima-nova-semibold-italic.eot?#iefix') format('embedded-opentype')
    src: url('/fonts/proxima-nova/semibold-italic/proxima-nova-semibold-italic.woff') format('woff')
    src: url('/fonts/proxima-nova/semibold-italic/proxima-nova-semibold-italic.ttf') format('truetype')
    font-weight: 600
    font-style: italic