<template name="PartialsAppFooter">
    <footer class="pu-footer">
        <section>
            <h1>Part-up is nog maar net begonnen</h1>
            <p>We zijn erg blij dat je gebruik maakt van Part-up. Het is nog lang niet af. We zijn pas net begonnen. Lijkt het je leuk om met ons mee te denken? Tof! Zo maken we samen Part-up beter.</p>
            <p class="pu-sub-action">
                <a class="pu-button" href="#">Geef je feedback</a>
                <span>of contact <a href="#">Ralph</a>, <a href="#">Laurens</a> of <a href="#">Erik</a></span>
            </p>
        </section>
    </footer>
</template>