<template name="PartialsAppFooter">
    <footer class="pu-footer">
        <div class="pu-sub-footer">
            <section class="pu-sub-description">
                <figure class="pu-brand pu-brand-footer"></figure>
                <h2>Build pop-up teams instantly.</h2>
                <p>Je vindt hier altijd de juiste mensen om mee samen te werken. Samen bepaal je de activiteiten en waardeer elkaar. Jouw profiel laat zien wat je kunt en hoe anderen jouw bijdragen waarderen.</p>
                <!-- <h1>{{_ 'footer-title' }}</h1>
                <p>{{_ 'footer-paragraph' }}</p>
                <p class="pu-sub-action">
                    <a class="pu-button" href="#">{{_ 'footer-feedback-button' }}</a>
                    <span>{{{_ 'footer-contact-text' }}}</span>
                </p> -->
            </section>
            <section class="pu-sub-companylinks">
                <h3>Company</h3>
                <p>Pricing<br>
                Over Part-up <br>
                Hulp / vragen <br>
                Blog <br>
                Contact<br></p>
            </section>
            <section class="pu-sub-sociallinks">
                <h3>Social</h3>
                <p>Twitter<br>
                Facebook<br>
                Youtube<br>
                Google Plus<br>
                LinkedIn<br></p>
            </section>
            <section class="pu-sub-feedback">
                <h3>Feedback</h3>
                <p>We zijn erg blij dat je gebruik maakt van Part-up. Het is nog lang niet af. Lijkt het je leuk om met ons mee te denken? Tof!</p>
                <p><a class="pu-button" href="#">{{_ 'footer-feedback-button' }}</a></p>
            </section>
        </div>
    </footer>
</template>