<template name="PagesDiscover">

    <article class="pu-layout">
        <div class="pu-sub-pagecontainer">
            <div class="pu-page">
                
                <h2>Discover</h2>

                <section>
                    {{#if partups }}
                        <ul class="pu-list pu-list-horizontal pu-list-discover">
                            {{#each partups }}
                                <li>
                                    {{> WidgetPartuptile partup = . }}
                                </li>
                            {{/each }}
                        </ul>
                    {{ else }}
                        <p>No partups added yet.</p>
                    {{ /if }}
                </section>

            </div>
        </div>
    </article>

</template>