$color-primary: #57c0c9 // lightblue

$color-text: #292929 // darkgray
$color-text-inverted: #ffffff // white
$color-text-link: #3070c6; // darkblue
$color-text-link-active: lighten(#3070c6, 20%); // darker darkblue

$color-background: #ffffff // white
$color-background-secondary: #eeeeee // lightgray
$color-background-tertiery: #f9f9f9 // very lightgray

$color-border: #cccccc // gray

$color-gallery: #EEEEEE
$color-silver: #CCCCCC
$color-dusty-gray: #999999
$color-sunshade: #ffa725
$color-mine-shaft: #292929
$color-downy: #78C3D1
$color-deep-cerulean: #0177b5
$color-chambray: #39579a
$color-scorpion: #595959
$color-lochmara: #007AB9
$color-sunglo: #E87677
$color-silver-tree: #5EB483

$color-solid-gray: #CCCCCC
$color-solid-black: #494949
$color-dark-white: #f9f9f9
$color-faded-gray: #eeeeee
$color-header: #57c0c9
$color-header-divider: #79cdd4
$color-browse: #78c3d1
$color-facebook: #39579a
$color-linkedin: #007ab9
$color-disabled: #cccccc