$spacing-xlarge: 50px
$spacing-large: 40px
$spacing-medium: 30px
$spacing-default: 20px
$spacing-narrow: 15px
$spacing-small: 10px

$container-default: 570px
$container-xlarge: $container-default + $spacing-xlarge * 2
$container-large: $container-default + $spacing-large * 2
