<template name="PagesPartupDetail">

    <article class="pu-layout">
        <div class="pu-sub-page">
            <div class="pu-sub-partupdetail-left">
		{{> PartialsPartupDetailNavigation partup=partup partupSupporters=partupSupporters }}
                {{> yield region='partup-page' }}
            </div>
            <div class="pu-sub-partupdetail-right">
                {{> PartialsPartupDetailSidebar partup=partup partupSupporters=partupSupporters partupUppers=partupUppers }}
            </div>
        </div>
    </article>

</template>
