/*************************************************************/
/* Page styling */
/*************************************************************/

[template = "PagesPartupDetail"]
    @extend %clearfix;

    [position = "left"]
        float: left
        width: 1000px

    [position = "sidebar"]
        float: left
        width: 600px