.pu-composition-networksettings-uppers
    > .pu-list
        margin-top: 15px
    h3
        margin-top: 20px
        font-size: 16px

    .pu-search-label
        font-size: 18px
        font-weight: bold
        line-height: 36px

    // left arrow
    .pu-sub-input:after,
    .pu-sub-input:before
        right: 96%
        top: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        z-index: 2

    .pu-sub-input:after
        border-right-color: #fff
        border-width: 8px
        margin-top: -8px

    .pu-sub-input:before
        border-right-color: #eee
        border-width: 11px
        margin-top: -11px


    .pu-sub-name
        color: $color-text
        text-decoration: none

    .pu-sub-mail
        position: absolute
        top: 10px
        left: 45%

    .pu-sub-status
        color: $color-primary
        position: absolute
        top: 10px
        right: 52px
        font-weight: bold

    .pu-uppersettings
        position: absolute
        display: none
        top: 52px
        right: 0
        width: 190px
        border: 2px solid #eeeeee
        border-radius: 5px
        background-color: #ffffff
        z-index: 1

        .pu-sub-delete
            button, a
                color: $color-alert-error

        &.pu-state-active
            display: block

        .pu-dropdownitem
            border-bottom: 2px solid #eee

            &:last-child
                border-bottom: 0
