.pu-composition-home
    .pu-sub-header
        background-color: $color-primary
        padding: 50px 20px 100px 20px
        margin-bottom: 0
        text-align: center

        .pu-title
            float: none
            text-align: center
            margin-top: -9px

        .pu-paragraph-inverted
            margin-top: 20px - 6px
            margin-bottom: 20px - 7px

    p,
    .pu-paragraph
        font-size: 14px

    .pu-sub-section
        min-height: 600px
        border-bottom: 2px solid $color-border-light

        &-last
            border-bottom: none

        &-tinted
            background-color: $color-background-tertiery

        &-gradient
            background-image: url('/images/homepage-section-background-gradient.png')
            background-repeat: repeat-x
            background-position: bottom

    @media screen and (min-width: $breakpoint-tablet)
        .pu-sub-header
            padding-top: 75px

            .pu-paragraph-inverted
                width: 520px
                margin: (30px - 6px) auto (30px - 7px) auto

        p,
        .pu-paragraph
            font-size: 18px

    @media screen and (min-width: $breakpoint-desktop)
        .pu-sub-header
            padding-top: 115px
            padding-bottom: 150px

            .pu-paragraph-inverted
                width: 800px
                margin-top: 40px - 6px
                margin-bottom: 40px - 7px

        p,
        .pu-paragraph
            font-size: 18px
