.pu-composition-defaultmodal
    width: 100%
    
    h2
        margin-top: -10px
        margin-bottom: 20px

    .pu-form
        margin-top: 40px - 8px

    .pu-sub-modalfooter
        margin-top: 40px
        text-align: right

        .pu-sub-plain
            line-height: 40px
            padding: 0 15px
            color: $color-text-subtle
            font-weight: bold
        
        &-fixed
            z-index: 99
            margin-top: 0
            position: fixed
            bottom: 0
            left: 0 
            right: 0
            padding: 25px 20px
            transition: background .1s
            background-color: #eee

            .pu-sub-footer-container
                width: 570px
                margin-left: auto
                margin-right: auto

    &.pu-composition-fixedfooter
        margin-bottom: 80px