.pu-composition-startpartup-activities
    > .pu-button
        margin-top: 40px - 22px

    > p
        margin-bottom: -8px

    .pu-form
        margin-top: 40px
        margin-bottom: 40px

        &:first-child
            margin-top: 0
        &-condensed
            margin: 0

    .pu-block :last-child
        margin-bottom: 0;
