.pu-composition-home
    .pu-sub-header
        background-color: $color-primary
        padding: 50px 20px
        padding-bottom: 100px
        margin-bottom: 0
        text-align: center
        overflow: hidden

        .pu-title
            float: none
            text-align: center
            margin-top: -4px

        .pu-paragraph-inverted
            margin-top: 20px - 6px
            margin-bottom: 20px - 7px

    p,
    .pu-paragraph
        font-size: 14px

    .pu-sub-section
        padding: 50px 0
        border-bottom: 2px solid $color-border-light

        .pu-wrap-home
            padding-left: 20px
            padding-right: 20px

        .pu-sub-subsection
            &-popularpartups
                .pu-sub-popularpartupsheader
                    .pu-title
                        margin-top: -6px
                        margin-bottom: 20px
                        font-weight: normal
                        font-size: 18px

                    .pu-sub-discoverbutton
                        display: none

                .pu-sub-partups
                    margin-top: 30px - 6px
                    margin-bottom: -18px

                .pu-sub-popularpartupsfooter
                    margin-top: 30px
                    text-align: center

        &-last
            border-bottom: none

        &-accent
            background-color: $color-background-tertiery

        &-gradient
            background-image: url('/images/homepage-section-background-gradient.png')
            background-repeat: repeat-x
            background-position: bottom

    @media screen and (min-width: 600px)
        .pu-sub-section
            .pu-wrap-home
                padding-left: 40px
                padding-right: 40px

            .pu-sub-subsection
                &-popularpartups
                    .pu-sub-popularpartupsheader
                        .pu-title
                            float: left

                        .pu-sub-discoverbutton
                            display: block
                            float: right
                            margin-top: -10px

                        &:after
                            content: ''
                            display: block
                            clear: both

                    .pu-sub-popularpartupsfooter
                        display: none

    @media screen and (min-width: $breakpoint-tablet)
        .pu-sub-header
            padding-top: 75px

            .pu-paragraph-inverted
                font-size: 18px
                width: 520px
                margin: (30px - 6px) auto (30px - 7px) auto

            .pu-button
                font-size: 18px
                padding-top: 21px

                i
                    margin-top: 2px

        p,
        .pu-paragraph
            font-size: 16px

    @media screen and (min-width: $breakpoint-desktop)
        .pu-sub-header
            padding-top: 110px
            padding-bottom: 150px

            .pu-paragraph-inverted
                width: 800px
                margin-top: 40px - 6px
                margin-bottom: 40px - 7px

        .pu-sub-section
            padding-top: 100px
            padding-bottom: 100px

            .pu-sub-subsection
                &-popularpartups
                    .pu-sub-popularpartupsheader
                        .pu-title
                            font-size: 22px

                    .pu-sub-partups
                        margin-top: 50px - 20px
