.pu-composition-startpartup-activities
    > .pu-button
        margin-top: 40px - 22px

    > p
        margin-bottom: -8px

    .pu-form
        margin-top: 40px
        margin-bottom: 40px

        &-condensed
            margin: 0