<template name="PartialsPartupDetailSidebar">
    <header class="pu-partupheader">
        <figure class="pu-sub-picture" style="width: {{ backgroundWidth }}px; background-image: url('http://lorempixel.com/output/nature-q-c-640-480-5.jpg')"></figure>
        <h1>{{ partup.name }}</h1>
    </header>
    <aside class="pu-sidebar">
        <div class="pu-sub-background" style="width: {{ backgroundWidth }}px;"></div>
        <p>Lorem ipsum dolor sit amet, <a href="http://google.com" target="_blank">consectetur adipisicing</a> elit. Ducimus iusto nihil voluptate quae quos expedita distinctio repellat, tenetur quo natus maxime! Consequatur dolore odio, incidunt, sit, perferendis repudiandae odit minus vero necessitatibus quam voluptates id doloremque esse dicta. Nostrum provident sint saepe a at maxime eaque eos delectus culpa quibusdam!</p>
    </aside>
</template>