<template name="PartialsPartupDetailSidebar">
    <header class="pu-partupheader">
        <figure class="pu-sub-picture" style="width: {{ backgroundWidth }}px; background-image: url('{{ partupCover.url }}')"></figure>
        <h1>{{ partup.name }}</h1>
    </header>
    <aside class="pu-sidebar">
        <section class="pu-sub-dark">
            <div class="pu-sub-background" style="width: {{ backgroundWidth }}px;"></div>
            <section>
                <p class="pu-sub-abstract">{{ partup.description }}</p>
            </section>
            <section>
                <h3>{{_ 'partup-detail-uppers-title' }}</h3>
                <ul>
                    {{#each partupUppers }}
                        <li>{{ profile.name }}</li>
                    {{/each }}
                </ul>
                <a href="" class="pu-button">{{_ 'partup-detail-uppers-invitebutton' }}</a>
            </section>
            <section>
                <p>Deze Part-up is actief tot <strong>1 augustus 2015</strong> in omgeving <strong>Den Haag</strong>. Deze Part-up is onderdeel van het <strong>publieke netwerk</strong> en is open voor iedereen.</p>
                <ul class="pu-list pu-list-horizontal pu-list-tags">
                    {{#each partup.tags }}
                        <li><a href="" class="pu-button pu-button-tag">{{ . }}</a></li>
                    {{/each }}
                </ul>
            </section>
        </section>
        <section class="pu-sub-light">
            <div class="pu-sub-background" style="width: {{ backgroundWidth }}px;"></div>
            <section>
                <h3>{{_ 'partup-detail-supporters-title' partup.supporters.length }}</h3>
                <ul class="pu-list pu-list-horizontal">
                    {{#each partupSupporters }}
                        <li>{{ profile.name }}</li>
                    {{/each }}
                </ul>
                <a data-joinsupporters class="pu-button">{{_ 'partup-detail-supporters-join' }}</a>
            </section>
        </section>
    </aside>
</template>
