<template name="PartialsPartupDetailSidebar">
    <header class="pu-partupheader">
        <figure class="pu-sub-picture" style="{{#if partupCover}}background-image: url('{{ partupCover.url }}');{{/if}}" data-partupcover-focuspoint></figure>
        <h1>{{ partup.name }}</h1>
    </header>
    <aside class="pu-sidebar">
        <section class="pu-sub-dark">
            <div class="pu-sidebar-wrap">
                <section>
                    <p class="pu-sub-abstract">{{ partup.description }}</p>
                </section>
                <section>
                    <h2>{{_ 'partup-detail-uppers-title' }}</h2>
                    <ul class="pu-list pu-list-users">
                        {{#each partupUppers }}
                            <li>
                                <figure data-usercard="{{ _id }}" class="pu-avatar pu-avatar-{{#if status.online }}online{{ else }}offline{{/if }}" style="background-image: url({{ partupImageById profile.image }})"></figure>
                                <p data-usercard="{{ _id }}">{{ profile.name }}</p>
                            </li>
                        {{/each }}
                    </ul>
                    <a href="{{pathFor route='partup-invite' _id=partup._id}}" class="pu-button pu-button-icon">
                        <i class="fa fa-user-plus"></i>
                        {{_ 'partup-detail-uppers-invitebutton' }}
                    </a>
                </section>
                <section>
                    <p>{{{_ 'partup-detail-status-text' prettyEndDate partup.location.city prettyVisibility partup.network.name }}}</p>
                    <ul class="pu-list pu-list-horizontal pu-list-tags">
                        {{#each partup.tags }}
                            <li><a href="" class="pu-tag pu-tag-inverted">{{ . }}</a></li>
                        {{/each }}
                    </ul>
                </section>
            </div>
        </section>
        <section class="pu-sub-light">
            <div class="pu-sidebar-wrap">
                <section>
                    <h2>{{_ 'partup-detail-supporters-title'}} ({{ numberOfSupporters }})</h2>
                    <ul class="pu-list pu-list-horizontal pu-list-avatars">
                        {{#each partupSupporters }}
                            <li><figure data-usercard="{{ _id }}" class="pu-avatar pu-avatar-{{#if status.online }}online{{ else }}offline{{/if }}" style="background-image: url({{ partupImageById profile.image }})"></figure></li>
                        {{/each }}
                    </ul>
                    {{#unless isUpperInPartup}}
                        {{#if isSupporter }}
                            <a data-leavesupporters class="pu-button">
                                <i class="fa fa-times"></i>
                                {{_ 'partup-detail-supporters-leave' }}
                            </a>
                        {{ else }}
                            <a data-joinsupporters class="pu-button">
                                <i class="fa fa-bullhorn"></i>
                                {{_ 'partup-detail-supporters-join' }}
                            </a>
                        {{/if}}
                    {{/unless}}
                </section>
                <section>
                    <p>{{_ 'partup-detail-share-paragraph' }}</p>
                    <ul class="pu-list pu-list-horizontal">
                        <li><a class="pu-button pu-button-social" data-share-facebook><i class="fa fa-facebook"></i></a></li>
                        <li><a class="pu-button pu-button-social" data-share-twitter><i class="fa fa-twitter"></i></a></li>
                        <li><a class="pu-button pu-button-social" data-share-linkedin><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </section>
            </div>
        </section>
    </aside>
</template>
